<p class="tracking-normal text-sm lg:text-lg mb-5">2010г.  Cанкт-Петербургская государственная медицинская академия им.И.И.Мечникова по специальности "Лечебное дело"</p>
<p class="tracking-normal text-sm lg:text-lg mb-5">2011г.  интернатура по специальности общая хирургия на базе Больницы Скорой помощи им. Джанелидзе</p>
<p class="tracking-normal text-sm lg:text-lg mb-5">2012г.  ординатура по онкологии на базе СЗГМУ им. И.И. Мечникова</p>
<p class="tracking-normal text-sm lg:text-lg mb-5">2012г.  участник XVI Российского онкологического конгресса (Москва)</p>
<p class="tracking-normal text-sm lg:text-lg mb-5">2012г.  стажировка по реконструктивной хирургии при раке молочной железы. Российский онкологический научный центр.им Н.Н. Блохина (Москва)</p>
<p class="tracking-normal text-sm lg:text-lg mb-5">2013г.  XI Курс по реконструктивно-пластической хирургии и эстетической хирургии молочной железы</p>
<p class="tracking-normal text-sm lg:text-lg mb-5">В 2013г. стажировка по реконструктивно-пластической хирургии в РОНЦ им. Блохина на отделении реконструктивной хирургии</p>
<p class="tracking-normal text-sm lg:text-lg mb-5">В 2013г. обучение по трансаксилярной видеоассистированной аугментационной маммопластики.г. Казань</p>
<p class="tracking-normal text-sm lg:text-lg mb-5">В 2014 г.профессиональная переподготовка по специальности пластическая хирургия.</p>
<p class="tracking-normal text-sm lg:text-lg mb-5">В 2014 г.стажировка в Казанском Республиканском онкологическом диспансере по реконструктивно-пластическим операциям на молочной железе</p>
<p class="tracking-normal text-sm lg:text-lg mb-5">В 2014 г. участник конференции по реконструктивно – пластической хирургии в г. Сало (Италия)</p>
<p class="tracking-normal text-sm lg:text-lg mb-5">В 2014 г. обучение в клинике пластической и эстетической медицины доктора Гилиса( Латвия г. Рига)</p>
<p class="tracking-normal text-sm lg:text-lg mb-5">2014 г. участник международного обучающего курса по пластической хирургии (Санкт-Петербург)</p>
<p class="tracking-normal text-sm lg:text-lg mb-5">2014 г. курс "Стратегия применения липофилинга" Санкт-Петербург</p>
<p class="tracking-normal text-sm lg:text-lg mb-5">В 2015 г. участник конференции по реконструктивно – пластической хирургии в г. Барселона (Испания)</p>
<p class="tracking-normal text-sm lg:text-lg mb-5">В 2015 г. международный курс тренинг для пластических и реконструктивных хирургов (ICTPS) Санкт-Петербург</p>
<p class="tracking-normal text-sm lg:text-lg mb-5">2015г. Один из организаторов мастер–класса, по реконструктивно – пластической хирургии молочной железы на базе Ленинградского областного онкологического диспансера, при поддержке компании Mentor, Johnson&Johnson</p>
<p class="tracking-normal text-sm lg:text-lg mb-5">Исследователь в клинических исследованиях (Исследование по колонистимулирующиму препарату, протокол Ep-06, компания Sandoz. Исследование по протоколу Biomarin 326-301, ИП parp – ингибиторы при лечении местно-распространённого рака молочной железы обусловленного мутацией гена BRCA1,2. Исследование по проектуMyl-Her 3001, ИП - дженерикгерцептина, и др.)</p>
<p class="tracking-normal text-sm lg:text-lg mb-5">В 2016 г. стажировка в Казанском Республиканском онкологическом диспансере по реконструктивно-пластическим операциям на молочной железе</p>