<table class="w-full mb-16">
    <thead>
        <tr>
            <th class="text-base lg:text-2xl pb-10 text-left">Пластика век (блефаропластика)</th>
        </tr>
    </thead>

    <tbody>
        <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
            <td>Верхняя блефаропластика (местная анестезия)</td><td class="text-right py-4 whitespace-nowrap">80 000 Р.</td>
        </tr>
        <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
            <td>Верхняя блефаропластика (общая анестезия)</td><td class="text-right py-4 whitespace-nowrap">110 000 Р.</td>
        </tr>
        <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
            <td>Нижняя блефаропластика трансконьюнктивальным доступом</td><td class="text-right py-4 whitespace-nowrap">110 000 Р.</td>
        </tr>
        <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
            <td>Нижняя чрезкожная блефаропластика</td><td class="text-right py-4 whitespace-nowrap">110 000 Р.</td>
        </tr>
        <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
            <td>Верхняя + нижняя блефаропластика</td><td class="text-right py-4 whitespace-nowrap">150 000 Р.</td>
        </tr>
        <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
            <td>Чик лифтинг(нижняя блефаропластика с подтяжкой средней зоны лица)</td><td class="text-right py-4 whitespace-nowrap">160 000 Р.</td>
        </tr>
        <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
            <td>Верхняя блефаропластика с чик лифтингом</td><td class="text-right py-4 whitespace-nowrap">180 000 Р.</td>
        </tr>
        <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
            <td>Деориентализирующая блефароплатиска</td><td class="text-right py-4 whitespace-nowrap">135 000 Р.</td>
        </tr>
    </tbody>
</table>

<table class="w-full mb-16">
    <tr>
        <th class="text-base lg:text-2xl pb-10 text-left">Пластика носа (ринопластика)</th>
    </tr>

    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Первичная ринопластика</td><td class="text-right py-4 whitespace-nowrap">230 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Первичная септоринопластика</td><td class="text-right py-4 whitespace-nowrap">260 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Вторичная септоринопластика (исправление неудовлетворительного результата ринопластики выполненной другим хирургом)</td><td class="text-right py-4 whitespace-nowrap">290 000 Р.</td>
    </tr>
</table>

<table class="w-full mb-16">
    <tr>
        <th class="text-base lg:text-2xl pb-10 text-left">Пластика молочных желез (маммопластика)</th>
    </tr>

    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Увеличение молочных желёз (увеличивающая маммопластика)с имплантами, Ментор, круглые (первичная операция)</td><td class="text-right py-4 whitespace-nowrap">280 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Увеличение молочных желёз(увеличивающая маммопластика)с имплантами, Ментор анатомические (первичная операция)</td><td class="text-right py-4 whitespace-nowrap">300 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Замена ранее установленных имплантов (в другой клинике) без подтяжки</td><td class="text-right py-4 whitespace-nowrap">330 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Замена ранее установленных имплантов (в нашей клинике по желанию пациента) без подтяжки</td><td class="text-right py-4 whitespace-nowrap">250 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Замена ранее установленных имплантов с подтяжкой по ареоле</td><td class="text-right py-4 whitespace-nowrap">360 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Замена ранее установленных имплантов с вертикальной подтяжкой</td><td class="text-right py-4 whitespace-nowrap">420 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Замена ранее установленных имплантов с якорной подтяжкой</td><td class="text-right py-4 whitespace-nowrap">460 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Вторичная якорная подтяжка без замены ранее установленных имплантов</td><td class="text-right py-4 whitespace-nowrap">390 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Вторичная якорная подтяжка с постановкойимплантов</td><td class="text-right py-4 whitespace-nowrap">450 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Подтяжка молочных желёз (мастопексия) вертикальная без имплантов</td><td class="text-right py-4 whitespace-nowrap">250 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Подтяжка груди Т-образная (якорная)</td><td class="text-right py-4 whitespace-nowrap">300 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Увеличение груди с имплантатами Ментор + подтяжка груди Т-образная</td><td class="text-right py-4 whitespace-nowrap">400 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Увеличение груди с имплантатами, Ментор (круглые) + подтяжка груди периареолярная</td><td class="text-right py-4 whitespace-nowrap">340 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Увеличение груди с имплантами, Ментор (круглые) + подтяжка груди (мастопексия) вертикальная</td><td class="text-right py-4 whitespace-nowrap">365 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Увеличение груди с имплантами, Ментор (анатомические) + подтяжка груди (мастопексия) вертикальная</td><td class="text-right py-4 whitespace-nowrap">370 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Увеличение груди с имплантатами Ментор (анатомические) + подтяжка груди периареолярная</td><td class="text-right py-4 whitespace-nowrap">360 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Увеличение груди с имплантатами Ментор (анатомические) + подтяжка груди периареолярная с коррекцией тубулярной груди</td><td class="text-right py-4 whitespace-nowrap">355 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Уменьшение молочных желез (редукционная якорная подтяжка)</td><td class="text-right py-4 whitespace-nowrap">320 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Вторичная редукционная якорная подтяжка с установкой имплантов</td><td class="text-right py-4 whitespace-nowrap">450 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Коррекция втянутого соска</td><td class="text-right py-4 whitespace-nowrap">70 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Коррекция сосково-ареолярного комплекса</td><td class="text-right py-4 whitespace-nowrap">70 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Липофилинг груди включая проведение липосакции</td><td class="text-right py-4 whitespace-nowrap">210 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Реконструкция молочной железы</td><td class="text-right py-4 whitespace-nowrap">120 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Устранение гинекомастии (общая анестезия)</td><td class="text-right py-4 whitespace-nowrap">210 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Удаление фиброаденомы</td><td class="text-right py-4">80 000 Р.</td>
    </tr>
</table>

<table class="w-full mb-16">
    <tr>
        <th class="text-base lg:text-2xl pb-10 text-left">Пластика живота (абдоминопластика)</th>
    </tr>

    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Пластика живота в максимальном объеме с переносом пупка и коррекцией мышц передней брюшной стенки (классическая абдоминопластика)</td><td class="text-right py-4 whitespace-nowrap">290 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Абдоминопластика с липосакцией живота</td><td class="text-right py-4 whitespace-nowrap">370 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Пластика живота миниинвазивная (без переноса пупка, миниабдоминопластика)</td><td class="text-right py-4 whitespace-nowrap">240 000 Р.</td>
    </tr>
</table>

<table class="w-full mb-16">
    <tr>
        <th class="text-base lg:text-2xl pb-10 text-left">Липосакция/Липомоделирование тела</th>
    </tr>

    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Липомоделирование ягодичной области</td><td class="text-right py-4 whitespace-nowrap">140 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Липомоделирование живота</td><td class="text-right py-4 whitespace-nowrap">150 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Липосакция живота и боковых областей</td><td class="text-right py-4 whitespace-nowrap">180 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Липосакция поясничной области</td><td class="text-right py-4 whitespace-nowrap">125 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Липосакция области спины</td><td class="text-right py-4 whitespace-nowrap">140 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Липосакция задней поверхности плеч</td><td class="text-right py-4 whitespace-nowrap">120 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Липосакция наружной поверхности бедер (галифе)</td><td class="text-right py-4 whitespace-nowrap">120 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Липосакция внутреннейповерхности бедер</td><td class="text-right py-4 whitespace-nowrap">120 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Липосакция коленей</td><td class="text-right py-4 whitespace-nowrap">120 000 Р.</td>
    </tr>
</table>

<table class="w-full mb-16">
    <tr>
        <th class="text-base lg:text-2xl pb-10 text-left">Пластика ягодиц (глютеопластика)</th>
    </tr>

    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Эндопротезирование ягодиц (увеличивающая глютеопластика) с постановкой импалнтов</td><td class="text-right py-4 whitespace-nowrap">250 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Липофилинг ягодиц включая проведение липосакции</td><td class="text-right py-4 whitespace-nowrap">160 000 Р.</td>
    </tr>
</table>

<table class="w-full mb-16">
    <tr>
        <th class="text-base lg:text-2xl pb-10 text-left">Пластика голени (круропластика)</th>
    </tr>

    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Эндопротезирование голеней с постанвкой имплантов</td><td class="text-right py-4 whitespace-nowrap">210 000 Р.</td>
    </tr>
</table>

<table class="w-full mb-16">
    <tr>
        <th class="text-base lg:text-2xl pb-10 text-left">Интимная пластика (лабиопластика)</th>
    </tr>

    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Пластика малых половых губ (лабиопластика)</td><td class="text-right py-4 whitespace-nowrap">75 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Увеличение полового члена</td><td class="text-right py-4 whitespace-nowrap">80 000 Р.</td>
    </tr>
</table>

<table class="w-full mb-16">
    <tr>
        <th class="text-base lg:text-2xl pb-10 text-left">Хирургическая коррекция пола</th>
    </tr>

    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>Мастэктомия</td><td class="text-right py-4 whitespace-nowrap">130 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>FTM</td><td class="text-right py-4 whitespace-nowrap">130 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>MTF (круглые импланты)</td><td class="text-right py-4 whitespace-nowrap">205 000 Р.</td>
    </tr>
    <tr class="pb-16 text-xs lg:text-base justify-between border-b border-gray-200">
        <td>MTF (анатомические импланты)</td><td class="text-right py-4 whitespace-nowrap">230 000 Р.</td>
    </tr>
</table>