description Index layout
==
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Максим Усунгван</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css">        
    <link rel="stylesheet" href="{{ 'assets/css/main.css'|theme }}"> 

    <script src="{{ 'assets/js/jquery-3.6.0.slim.min.js'|theme }}"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <style>
        [x-cloak] { display: none; }
    </style>
</head>
<body x-data="{showMenu: false, logoColor: ''}" class="text-white bg-black">   
    {% page %}
    {% framework %}
    {% framework extras %}
    {% scripts %}
</body>
</html>