[blogPosts news]
pageNumber = "{{ :page }}"
categoryFilter = "news"
postsPerPage = 2
noPostsMessage = "Записей не найдено"
sortOrder = "published_at desc"
categoryPage = "about"
postPage = "single_news"

[blogPosts articles]
pageNumber = "{{ :page }}"
categoryFilter = "articles"
postsPerPage = 3
noPostsMessage = "Записей не найдено"
sortOrder = "published_at desc"
categoryPage = "about"
postPage = "article"
==
{% set news = news.posts %}

{% set articles = articles.posts %}

<div class="bg-colors w-full">
    <div class="bg-colors flex flex-col lg:flex-row lg:container mx-auto">
        <div class="news bg-news pt-12 pb-8 lg:pb-14">
            <div class="px-7 lg:pr-16 space-y-8 lg:space-y-10">
                <h2 class="text-gray-900 text-xl leading-8 lg:text-3xl lg:leading-10">Новости</h2>

                {% for post in news %}
                <div class="space-y-4 lg:space-y-7 border-b border-gray-300 pb-6 card transition transition-all duration-300 easy-in transform hover:-translate-y-1.5">
                    <a href="{{ post.url }}">
                        <h4 class="lg:pb-1 text-base leading-tight lg:text-lg lg:leading-snug text-gray-900 underline hover:no-underline">{{ post.title }}</h4>
                    </a>

                    <p class="text-xs lg:text-sm text-gray-700 line-clamp-three">{{ post.summary }}</p>

                    <div class="flex justify-between">
                        <div class="flex my-auto">
                            <img class="mr-2" width="11" height="11" src="{{ 'assets/img/clock.svg'|theme }}">
                            <span class="text-gray-800 date text-xxs lg:text-xs">{{ post.published_at|date('d.m.Y') }}</span>
                        </div>
                    
                        <a href="{{ post.url }}" class="flex flex-row">
                            <span class="my-auto text-gray-800 text-xxs lg:text-xs pr-3 underline hover:no-underline">Читать дальше</span> 
                            <img class="my-auto ml-2" width="5" height="7" src="{{ 'assets/img/small_arrow_r.svg'|theme }}">
                        </a>
                    </div>
                </div>
                {% endfor %}
                
                <a class="flex items-center max-w-max space-x-4 text-xs underline hover:no-underline text-gray-700 eye-button" href="{{ 'news'|page }}">
                    <div class="w-10 h-10 rounded-full bg-gray-700 flex justify-center items-center text-white fill-current transition transition-all duration-500">
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.8729 9.61096C19.6942 9.36655 15.4371 3.62634 9.9999 3.62634C4.56274 3.62634 0.305391 9.36655 0.126914 9.61073C-0.0423048 9.84261 -0.0423048 10.1571 0.126914 10.389C0.305391 10.6334 4.56274 16.3736 9.9999 16.3736C15.4371 16.3736 19.6942 10.6333 19.8729 10.3892C20.0423 10.1573 20.0423 9.8426 19.8729 9.61096ZM9.9999 15.0549C5.99486 15.0549 2.52606 11.245 1.49922 9.99952C2.52473 8.75292 5.98626 4.94502 9.9999 4.94502C14.0048 4.94502 17.4733 8.75424 18.5006 10.0004C17.4751 11.247 14.0135 15.0549 9.9999 15.0549Z"/>
                            <path d="M10 6.04382C7.81867 6.04382 6.04395 7.81855 6.04395 9.99989C6.04395 12.1812 7.81867 13.9559 10 13.9559C12.1813 13.9559 13.9561 12.1812 13.9561 9.99989C13.9561 7.81855 12.1813 6.04382 10 6.04382ZM10 12.6372C8.54571 12.6372 7.36266 11.4541 7.36266 9.99989C7.36266 8.54562 8.54574 7.36254 10 7.36254C11.4543 7.36254 12.6373 8.54562 12.6373 9.99989C12.6373 11.4541 11.4543 12.6372 10 12.6372Z"/>
                        </svg>
                    </div>

                    <p>Смотреть все</p>
                </a>
            </div>
        </div>
    
        <div class="articles bg-articles pt-12 pb-12 lg:pb-14">
            <div class="px-7 lg:px-0 lg:pl-16 space-y-10 lg:mr-20">
                <h2 class="text-gray-900 text-xl leading-8 lg:text-3xl lg:leading-10">Статьи</h2>

                {% for post in articles%}
                <div class="lg:pr-4 lg:flex lg:flex-row card transition transition-all duration-300 easy-in transform hover:-translate-y-1.5">
                    <div class="lg:w-40 lg:pr-4 lg:min-w-max pb-6 lg:pb-0">
                        {% for image in post.featured_images|slice(0, 1) %}
                        <img class="object-contain mx-auto lg:mx-0 w-auto max-w-96 lg:w-48 2xl:w-44" src="{{ image.path }}">
                        {% endfor %}
                    </div>

                    <div class="space-y-3 lg:space-y-5">
                        <a href="{{ post.url }}">
                            <h4 class="text-base lg:text-lg text-gray-900 leading-tight lg:leading-snug underline">{{ post.title }}</h4>
                        </a>

                        <p class="text-xs lg:text-sm text-gray-700 line-clamp-three">{{ post.summary }}</p>
                    </div>
                </div>
                {% endfor %}

                <a class="flex items-center max-w-max space-x-4 text-xs underline hover:no-underline text-gray-700 eye-button" href="{{ 'articles'|page }}">
                    <div class="w-10 h-10 rounded-full bg-gray-700 flex justify-center items-center text-white fill-current transition transition-all duration-500">
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.8729 9.61096C19.6942 9.36655 15.4371 3.62634 9.9999 3.62634C4.56274 3.62634 0.305391 9.36655 0.126914 9.61073C-0.0423048 9.84261 -0.0423048 10.1571 0.126914 10.389C0.305391 10.6334 4.56274 16.3736 9.9999 16.3736C15.4371 16.3736 19.6942 10.6333 19.8729 10.3892C20.0423 10.1573 20.0423 9.8426 19.8729 9.61096ZM9.9999 15.0549C5.99486 15.0549 2.52606 11.245 1.49922 9.99952C2.52473 8.75292 5.98626 4.94502 9.9999 4.94502C14.0048 4.94502 17.4733 8.75424 18.5006 10.0004C17.4751 11.247 14.0135 15.0549 9.9999 15.0549Z"/>
                            <path d="M10 6.04382C7.81867 6.04382 6.04395 7.81855 6.04395 9.99989C6.04395 12.1812 7.81867 13.9559 10 13.9559C12.1813 13.9559 13.9561 12.1812 13.9561 9.99989C13.9561 7.81855 12.1813 6.04382 10 6.04382ZM10 12.6372C8.54571 12.6372 7.36266 11.4541 7.36266 9.99989C7.36266 8.54562 8.54574 7.36254 10 7.36254C11.4543 7.36254 12.6373 8.54562 12.6373 9.99989C12.6373 11.4541 11.4543 12.6372 10 12.6372Z"/>
                        </svg>
                    </div>

                    <p>Смотреть все</p>
                </a>
            </div>
        </div>
    </div>
</div>