title = "О докторе"
url = "/about"
layout = "default"
is_hidden = 0

[blogPost]
slug = "about"
categoryPage = "about"

[blogPost blogPost2]
slug = "certificates"
categoryPage = "about"

[contactForm]
disable_fields = "email|city|faq"
==
{% set images = blogPost.post.rjgallery.images %}
{% set certificates = blogPost2.post.rjgallery.images %}

<div class="container mx-auto px-7 pt-32 lg:pt-36 overflow-hidden">
    <hr class="hidden lg:block">

    <div class="tracking-normal">
        <p class="flex space-x-4 text-xs leading-7 lg:text-sm lg:leading-8 my-8">
            <a href="{{ 'home'|page }}" class="text-gray-500 hover:underline">Главная</a>
            <svg class="my-auto" width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3536 4.35355C14.5488 4.15829 14.5488 3.84171 14.3536 3.64645L11.1716 0.464466C10.9763 0.269204 10.6597 0.269204 10.4645 0.464466C10.2692 0.659728 10.2692 0.976311 10.4645 1.17157L13.2929 4L10.4645 6.82843C10.2692 7.02369 10.2692 7.34027 10.4645 7.53553C10.6597 7.7308 10.9763 7.7308 11.1716 7.53553L14.3536 4.35355ZM0 4.5H14V3.5H0V4.5Z" fill="#C4C4C4"/>
            </svg>
            <span class="text-gray-800">О докторе</span>
        </p>
    </div>

    <div class="hidden lg:block tracking-normal py-8">
        <p class="text-xl text-gray-500">Обо мне</p>
    </div>

    <div class="flex flex-col lg:flex-row pb-10 lg:pb-16" x-data="{showConsultationForm : false}">
        <div class="space-y-10 mb-8 lg:w-1/2">
            <h1 class="text-xl lg:text-3xl">«Моя работа – создавать гармонию души и тела, мечты и реальности»</h1>

            <p class="text-sm lg:text-lg tracking-normal leading-normal lg:leading-10">Я врач во втором поколении, реконструктивно-пластический хирург, онколог. На сайте вы найдете полное описание специфики моей работы, сможете выбрать интересующую вас область, задать вопрос и записаться на прием.</p>

            <div class="flex about-button-bw">                                           
                <div @click="showConsultationForm = true" class="cursor-pointer">
                    <svg class="w-12 h-12 lg:w-16 lg:h-16 stroke-current" fill="none"  width="72" height="72" viewBox="0 0 72 72"  xmlns="http://www.w3.org/2000/svg">
                        <circle id="circle" cx="36" cy="36" r="35.25" stroke-width="1.5"/>
                        <path id="arrow" d="M41.0646 30.75C41.7926 33.2608 43.5484 34.9924 46.4176 36.0314C43.5912 37.0271 41.7926 38.8019 41.0646 41.3128" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="bevel"/>
                        <path id="line" d="M46.2581 36H24" stroke-width="2" stroke-miterlimit="10"/>
                    </svg>                                                    
                </div>

                <div id="details" class="my-auto ml-4 lg:ml-8 whitespace-nowrap cursor-pointer" @click="showConsultationForm = true">
                    <p class="text-sm lg:text-base leading-none tracking-normal text-gray-400">Консультация с доктором<p>                                            
                </div>
            </div> 
        </div>

        <div class="lg:mt-20 ml-auto relative">
            <img src="{{ 'assets/img/doctor_2.jpg'|theme }}" class="w-full lg:w-auto lg:h-96">

            <!-- <div class="absolute -top-8 -right-10 lg:top-48 lg:right-0 lg:-left-40">
                <img src="{{ 'assets/img/signature-black.png'|theme }}" class="h-16 w-auto lg:h-40">
            </div> -->
        </div>

        <div x-show="showConsultationForm" 
             x-transition:enter="transition ease-linear duration-500"
             x-transition:enter-start="opacity-0"
             x-transition:enter-end="opacity-100"
             x-transition:leave="transition ease-linear duration-500"
             x-transition:leave-start="opacity-100"
             x-transition:leave-end="opacity-0"
             x-on:keydown.escape.window="showConsultationForm = false"
             class="fixed z-max inset-0 flex items-end justify-end bg-popup"
             x-cloak
            >
            <div x-show="showConsultationForm"
                 x-transition:enter="transition ease-linear duration-500"
                 x-transition:enter-start="transform translate-x-full"
                 x-transition:enter-end="transform translate-x-0"
                 x-transition:leave="transition ease-linear duration-500"
                 x-transition:leave-start="transform translate-x-0"
                 x-transition:leave-end="transform translate-x-full"
                 class="relative w-full lg:w-2/5 bg-white h-full flex flex-col items-center justify-center pt-10" 
                 @click.away="showConsultationForm = false">
                <p class="lg:text-2xl text-black mb-9">Консультация с доктором</p>

                {% component 'contactForm' %}

                <p class="text-gray-500 text-xs text-center w-4/6">
                    Нажимая «Отправить» вы принимаете 
                    <br>
                    <a href="#" class="underline hover:no-underline text-indigo-400 hover:text-gray-500">условия обработки данных</a>
                </p>

                <div class="cursor-pointer" @click="showConsultationForm = false">
                    <p class="fixed top-5 right-5 transform rotate-45 text-black text-4xl">+</p>
                </div>
            </div>
        </div>
    </div>

    <div class="pb-8" x-data="educations()">
        <div class="flex justify-between pb-4">
            <h2 class="text-lg lg:text-2xl text-gray-900 cursor-pointer" @click="showEducations = !showEducations">Образование</h2>

            <p class="text-lg lg:text-2xl text-gray-900 cursor-pointer transition duration-500 ease-in-out transform" :class="{'rotate-45' : showEducations === true}" @click="showEducations = !showEducations">+</p>
        </div>

        <div class="overflow-hidden transition-all ease-in-out max-h-0 duration-1000" x-ref="educations" x-bind:style="showEducations === true ? 'max-height: ' + $refs.educations.scrollHeight + 'px' : ''">
            {% content 'education' %}
        </div>
        <hr>
    </div>

    <div class="pb-8" x-data="{showCertificates: false}">
        <div class="flex justify-between pb-4">
            <h2 class="text-lg lg:text-2xl text-gray-900 cursor-pointer" @click="showCertificates = !showCertificates">Сертификаты</h2>

            <p class="text-lg lg:text-2xl text-gray-900 cursor-pointer transition duration-500 ease-in-out transform" :class="{'rotate-45' : showCertificates === true}" @click="showCertificates = !showCertificates">+</p>
        </div>

        <div class="overflow-hidden transition-all ease-in-out max-h-0 duration-1000" x-ref="cert" x-bind:style="showCertificates === true ? 'max-height: ' + $refs.cert.scrollHeight + 'px' : ''">
            {% for image in certificates %}
            <div class="flex flex-row justify-center">
                <img src="{{ image.path }}" class="certificate m-5">
            </div>
            {% endfor %}
        </div>
        <hr>
    </div>

    <div x-data="{swiper: null}"
        x-init="swiper = new Swiper($refs.container, {
            loop: true,
            slidesPerView: 1,
            spaceBetween: 0,
            freeMode: true,
        
            breakpoints: {
            640: {
                slidesPerView: 1,
                spaceBetween: 0,
            },
            768: {
                slidesPerView: 2,
                spaceBetween: 0,
            },
            1024: {
                slidesPerView: 2,
                spaceBetween: 0,
            },
            },
        })"
        class="relative w-11/12 mx-auto flex flex-row py-10"
        >
        <div class="absolute inset-y-0 -left-3 lg:-left-4 z-10 flex items-center">
            <button @click="swiper.slidePrev()" 
                    class="bg-white -ml-2 lg:-ml-4 flex justify-center items-center  rounded-full shadow focus:outline-none">
                <svg class="w-10 h-10 lg:w-16 lg:h-16 transform rotate-180" fill="#3F3D8F"  width="72" height="72" viewBox="0 0 72 72"  xmlns="http://www.w3.org/2000/svg">
                    <circle id="circle" cx="36" cy="36" r="35.25" stroke="#3F3D8F" stroke-width="1.5"/>
                    <path id="arrow" d="M41.0646 30.75C41.7926 33.2608 43.5484 34.9924 46.4176 36.0314C43.5912 37.0271 41.7926 38.8019 41.0646 41.3128" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="bevel"/>
                    <path id="line" d="M46.2581 36H24" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                </svg> 
            </button>
        </div>

        <div class="swiper-container" x-ref="container">
            <div class="swiper-wrapper">
                {% for image in images %}
                <div class="swiper-slide p-4">
                    <div class="flex flex-col rounded shadow overflow-hidden">
                      <div class="flex-shrink-0">
                        <img class=" h-40 lg:h-96 w-full object-cover" src="{{ image.path }}" alt="">
                      </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="absolute inset-y-0 -right-3 lg:-right-4 z-10 flex items-center">
            <button @click="swiper.slideNext()" 
                    class="bg-white -mr-2 lg:-mr-4 flex justify-center items-center rounded-full shadow focus:outline-none">
                <svg class="w-10 h-10 lg:w-16 lg:h-16" fill="#3F3D8F"  width="72" height="72" viewBox="0 0 72 72"  xmlns="http://www.w3.org/2000/svg">
                    <circle id="circle" cx="36" cy="36" r="35.25" stroke="#3F3D8F" stroke-width="1.5"/>
                    <path id="arrow" d="M41.0646 30.75C41.7926 33.2608 43.5484 34.9924 46.4176 36.0314C43.5912 37.0271 41.7926 38.8019 41.0646 41.3128" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="bevel"/>
                    <path id="line" d="M46.2581 36H24" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                </svg> 
            </button>
        </div>
    </div>

</div>

{% partial 'news_and_articles' %}

<script>
    function educations(){
        return {
            showEducations: false,
            educations: [
            '2010г.  Cанкт-Петербургская государственная медицинская академия им.И.И.Мечникова по специальности "Лечебное дело"',
            '2011г.  интернатура по специальности общая хирургия на базе Больницы Скорой помощи им. Джанелидзе',
            '2012г.  ординатура по онкологии на базе СЗГМУ им. И.И. Мечникова',
            '2012г.  участник XVI Российского онкологического конгресса (Москва)',
            '2012г.  стажировка по реконструктивной хирургии при раке молочной железы. Российский онкологический научный центр.им Н.Н. Блохина (Москва)',
            '2013г.  XI Курс по реконструктивно-пластической хирургии и эстетической хирургии молочной железы',
            'В 2013г. стажировка по реконструктивно-пластической хирургии в РОНЦ им. Блохина на отделении реконструктивной хирургии',
            'В 2013г. обучение по трансаксилярной видеоассистированной аугментационной маммопластики.г. Казань',
            'В 2014 г.профессиональная переподготовка по специальности пластическая хирургия.',
            'В 2014 г.стажировка в Казанском Республиканском онкологическом диспансере по реконструктивно-пластическим операциям на молочной железе',
            'В 2014 г. участник конференции по реконструктивно – пластической хирургии в г. Сало (Италия)',
            'В 2014 г. обучение в клинике пластической и эстетической медицины доктора Гилиса( Латвия г. Рига)',
            '2014 г. участник международного обучающего курса по пластической хирургии (Санкт-Петербург)',
            '2014 г. курс "Стратегия применения липофилинга" Санкт-Петербург',
            'В 2015 г. участник конференции по реконструктивно – пластической хирургии в г. Барселона (Испания)',
            'В 2015 г. международный курс тренинг для пластических и реконструктивных хирургов (ICTPS) Санкт-Петербург',
            '2015г. Один из организаторов мастер–класса, по реконструктивно – пластической хирургии молочной железы на базе Ленинградского областного онкологического диспансера, при поддержке компании Mentor, Johnson&Johnson',
            'Исследователь в клинических исследованиях (Исследование по колонистимулирующиму препарату, протокол Ep-06, компания Sandoz. Исследование по протоколу Biomarin 326-301, ИП parp – ингибиторы при лечении местно-распространённого рака молочной железы обусловленного мутацией гена BRCA1,2. Исследование по проектуMyl-Her 3001, ИП - дженерикгерцептина, и др.)',
            'В 2016 г. стажировка в Казанском Республиканском онкологическом диспансере по реконструктивно-пластическим операциям на молочной железе',
        ]}
    }

    function certificates(){
        return {
            showCertificates: false,
        }
    }
</script>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>