title = "Статьи"
url = "/articles/:page?"
layout = "default"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "articles"
postsPerPage = 3
noPostsMessage = "Записей не найдено"
sortOrder = "published_at desc"
categoryPage = "about"
postPage = "article"
==
{% set articles = blogPosts.posts %}

<div class="container mx-auto px-7 pt-32 lg:pt-36 overflow-hidden">
    <hr class="hidden lg:block">

    <div class="tracking-normal">
        <p class="flex space-x-4 text-xs leading-7 lg:text-sm lg:leading-8 my-8">
            <a href="{{ 'home'|page }}" class="text-gray-500 hover:underline">Главная</a>
            <svg class="my-auto" width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3536 4.35355C14.5488 4.15829 14.5488 3.84171 14.3536 3.64645L11.1716 0.464466C10.9763 0.269204 10.6597 0.269204 10.4645 0.464466C10.2692 0.659728 10.2692 0.976311 10.4645 1.17157L13.2929 4L10.4645 6.82843C10.2692 7.02369 10.2692 7.34027 10.4645 7.53553C10.6597 7.7308 10.9763 7.7308 11.1716 7.53553L14.3536 4.35355ZM0 4.5H14V3.5H0V4.5Z" fill="#C4C4C4"/>
            </svg>
            <span class="text-gray-800">Статьи</span>
        </p>
    </div>

    <div class="pb-8">
        <h1 class="text-xl leading-8 lg:text-3xl lg:leading-10 text-gray-900">Статьи</h1>
    </div>

    <div class="space-y-6">
        {% for post in articles %}
            <div class="lg:pr-4 lg:flex lg:flex-row card transition transition-all duration-300 easy-in transform hover:-translate-y-1.5">
                <div class="lg:w-40 lg:pr-8 lg:min-w-max pb-6 lg:pb-0">
                    <a href="{{ post.url }}">
                        {% for image in post.featured_images|slice(0, 1) %}
                            <img class="object-contain mx-auto lg:mx-0 w-auto max-w-96 lg:w-80" src="{{ image.path }}">
                        {% endfor %}
                    </a>
                </div>
                <div class="space-y-3 lg:space-y-5 lg:my-auto">
                    <a href="{{ post.url }}">
                        <h3 class="text-xl lg:text-2xl text-gray-900 leading-tight lg:leading-snug hover:underline">{{ post.title }}</h3>
                    </a>
                    <p class="text-xs lg:text-base text-gray-700">{{ post.summary }}</p>
                </div>
            </div>
            {% if loop.index !=  articles|length %}
                <hr>
            {% endif %}
        {% endfor %}
    </div>

    {% if articles.lastPage > 1 %}
    <div class="flex justify-center items-center py-16">
        <div class="flex w-full lg:w-auto">
            
            <div class="my-auto ml-auto mr-10 lg:mr-8 lg:ml-0">
                <a {% if articles.currentPage > 1 %} href="{{ 'articles'|page({ page: articles.currentPage - 1 }) }}" {% endif %}>
                    <svg width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.309943 11.6037L10.4856 21.7512C10.819 22.0835 11.3588 22.0829 11.6916 21.7495C12.0242 21.4161 12.0233 20.876 11.6899 20.5435L2.11991 11L11.6902 1.45647C12.0236 1.12389 12.0245 0.584164 11.6919 0.250727C11.5251 0.08358 11.3065 3.75925e-06 11.0879 3.74014e-06C10.8699 3.72108e-06 10.6522 0.0830211 10.4856 0.249008L0.309943 10.3963C0.149369 10.556 0.0592633 10.7734 0.0592632 11C0.0592632 11.2265 0.149628 11.4437 0.309943 11.6037Z" fill="#ACACAC"/>
                    </svg>  
                </a>
            </div>
            

            <div class="w-20 text-center text-3xl pagination">
                <span class="text-gray-800">{{ articles.currentPage }}</span>
                <sup class="text-gray-400">/</sup>
                <sup class="text-gray-400">{{ articles.lastPage }}</sup> 
            </div>

            
            <div class="my-auto mr-auto ml-10 lg:ml-8 lg:mr-0">
                <a {% if articles.lastPage > articles.currentPage %} href="{{ 'articles'|page({ page: articles.currentPage + 1 }) }}" {% endif %}>
                    <svg width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.6901 10.3963L1.51441 0.248783C1.18102 -0.0834926 0.641247 -0.082934 0.308412 0.250502C-0.0241646 0.583895 -0.0233052 1.12397 0.310131 1.4565L9.88009 11L0.309787 20.5435C-0.0236061 20.8761 -0.0244655 21.4158 0.308068 21.7493C0.474915 21.9164 0.693497 22 0.912078 22C1.1301 22 1.34782 21.917 1.51437 21.751L11.6901 11.6037C11.8506 11.444 11.9407 11.2266 11.9407 11C11.9407 10.7735 11.8504 10.5563 11.6901 10.3963Z" fill="#ACACAC"/>
                    </svg>    
                </a>
            </div>
            
        </div>
    </div>
    {% endif %}
</div>