title = "Контанты"
url = "/contacts"
layout = "default"
is_hidden = 0

[contactForm]
disable_fields = "email|city|faq"
allow_redirect = 1
redirect_url = "/contacts"
==

<div x-data="{city : 'moscow'}">
    <div class="container px-7 mx-auto pt-32 lg:pt-36 overflow-hidden">
        <hr class="hidden lg:block">
    
        <div class="tracking-normal">
            <p class="flex space-x-4 text-xs leading-7 lg:text-sm lg:leading-8 my-8">
                <a href="index.html" class="text-gray-500 hover:underline">Главная</a>
                <svg class="my-auto" width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.3536 4.35355C14.5488 4.15829 14.5488 3.84171 14.3536 3.64645L11.1716 0.464466C10.9763 0.269204 10.6597 0.269204 10.4645 0.464466C10.2692 0.659728 10.2692 0.976311 10.4645 1.17157L13.2929 4L10.4645 6.82843C10.2692 7.02369 10.2692 7.34027 10.4645 7.53553C10.6597 7.7308 10.9763 7.7308 11.1716 7.53553L14.3536 4.35355ZM0 4.5H14V3.5H0V4.5Z" fill="#C4C4C4"/>
                </svg>
                <span class="text-gray-800">Контакты</span>
            </p>
        </div>
    
        <div class="space-y-6">
            <div class="flex flex-row space-x-6 justify-center">
                <div @click="city = 'moscow'" class="text-lg" :class="{'text-gray-900 border-b border-gray-900' : city == 'moscow', 'text-gray-500 border-b border-transparent hover:border-gray-500' : city == 'spb'}">Москва</div>
                <div @click="city = 'spb'" class="text-lg" :class="{'text-gray-900 border-b border-gray-900' : city == 'spb', 'text-gray-500 border-b border-transparent hover:border-gray-500' : city == 'moscow'}">Санкт-Петербург</div>
            </div>
    
            <div
                x-show.transition.in.duration.1000ms="city === 'moscow'"
                class="flex flex-col space-y-6"
                >
                <div class="flex flex-col lg:flex-row flex-wrap space-y-6">
                    <div class=" w-full lg:w-1/2 space-y-2">
                        <p class="text-sm text-gray-400">Адрес</p>
                        <p class="text-gray-800 text-sm lg:text-lg">«ЦЕНТР ПЛАСТИЧЕСКОЙ ХИРУРГИИ» <br>ул. Рогова 22, корпус 3, метро Щукинская</p>
                    </div>
    
                    <div class="w-full lg:w-1/2 space-y-2">
                        <p class="text-sm text-gray-400">Запись на консультации</p>
                        <p class="text-gray-800 text-sm lg:text-lg w-56 md:w-auto"><a href="tel:+79315410591" title="Позвонить">+7 (931) 541-05-91</a>  (Менеджер Виктория)</p>
                    </div>
    
    
                    <div class="w-full lg:w-1/2 space-y-2">
                        <p class="text-sm text-gray-400">Запись на операции</p>
                        <p class="text-gray-800 text-sm lg:text-lg w-48 md:w-auto">
                            <a href="tel:+79036749990" title="Позвонить">+7 (903)-674-99-90</a> ,
                            <a href="tel:+79118101218" title="Позвонить">+7 (911) 810-12-18</a></p>
                    </div>
    
                    <div class="w-full lg:w-1/2">
                        <p class="text-xxs md:text-xs text-gray-400">
                            Вы можете связаться со мной напрямую: <br>+7-911-810-12-18 (What’s Up, Viber - онлайн консультации,фото)
                        </p>
                    </div>
                </div>
            </div>
    
            <div
                x-show.transition.in.duration.1000ms="city === 'spb'"
                class="flex flex-col space-y-6"
                >
                <div class="flex flex-col lg:flex-row space-y-6 lg:space-y-0">
                    <div class="w-full lg:w-1/2 space-y-2">
                        <p class="mb-2 text-sm text-gray-400">Адрес</p>
                        <p class="text-gray-800 text-sm lg:text-lg">Центр пластической хирургии «PARADA» <br>Проспект Испытателей 2,корпус 2, метро Пионерская</p>
                    </div>
    
                    <div class="w-full lg:w-1/2 space-y-2">
                        <p class="mb-2 text-sm text-gray-400">Запись на консультации и операции</p>
                        <p class="text-gray-800 text-sm lg:text-lg w-56 md:w-auto"><a href="tel:+79315410591" title="Позвонить">+7 (931) 541-05-91</a>  (Менеджер Виктория )</p>
                    </div>
                </div>
    
                <div class="">
                    <p class="text-xxs md:text-xs text-gray-400">
                        Вы можете связаться со мной напрямую: <br>+7-911-810-12-18 (What’s Up, Viber - онлайн консультации,фото)
                    </p>
                </div>
            </div>
        </div>
    
    </div>
    
    <div
        x-show.transition.in.duration.1200ms="city === 'moscow'"
        id="map_moscow"
        class="w-full h-52 md:h-80 lg:h-96 lg:container lg:px-7 lg:mx-auto mt-6 lg:my-16">
    </div>
    
    <div
        x-show.transition.in.duration.1200ms="city === 'spb'"
        id="map_spb"
        class="w-full h-52 md:h-80 lg:h-96 lg:container lg:mx-auto mt-6 lg:my-16">
    </div>
    
    <div class="w-full bg-second">
        <div class="container px-7 alg:px-0 mx-auto overflow-hidden">
            <div class="flex flex-col lg:flex-row pt-12 lg:pt-0" x-data="{showConsultationForm: false}">
                <div class="flex flex-col w-full lg:w-3/5 lg:pt-32 lg:pb-28 my-auto">
                    <div class="pb-3 lg:pb-5">
                        <h2 class="text-xl lg:text-3xl text-white">Получите консультацию <br> по Вашему вопросу</h2>
                    </div>
    
                    <div class="pb-10 lg:pb-20">
                        <p class="text-sm lg:text-lg text-white">Оставьте заявку и мы свяжемся с Вами в ближайшее время.</p>
                    </div>
    
                    <div>
                        <div class="flex about-button text-white">
                            <a @click="showConsultationForm = true" class="cursor-pointer">
                                <svg class="w-12 h-12 lg:w-16 lg:h-16 stroke-current" fill="none"  width="72" height="72" viewBox="0 0 72 72"  xmlns="http://www.w3.org/2000/svg">
                                    <circle id="circle" cx="36" cy="36" r="35.25" stroke-width="1.5"/>
                                    <path id="arrow" d="M41.0646 30.75C41.7926 33.2608 43.5484 34.9924 46.4176 36.0314C43.5912 37.0271 41.7926 38.8019 41.0646 41.3128" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="bevel"/>
                                    <path id="line" d="M46.2581 36H24" stroke-width="2" stroke-miterlimit="10"/>
                                </svg>
                            </a>
    
                            <a id="details" class="my-auto ml-4 lg:ml-8 whitespace-nowrap cursor-pointer" @click="showConsultationForm = true">
                                <p class="text-sm lg:text-base leading-none tracking-normal text-gray-400">Консультация с доктором<p>
                            </a>
                        </div>
                    </div>
                </div>
    
                <div class="relative w-full md:w-4/5 lg:w-3/4 xl:w-2/5 mt-10 lg:mt-0">
                    <img class="px-10 w-full h-auto" src="{{ 'assets/img/doctor.png'|theme }}">
                    <!-- <img class="absolute -top-6 -left-6 lg:top-72 lg:-left-44 h-24 lg:h-auto w-auto" src="{{ 'assets/img/signature.png'|theme }}"> -->
                </div>

                <div x-show="showConsultationForm" 
                     x-transition:enter="transition ease-linear duration-500"
                     x-transition:enter-start="opacity-0"
                     x-transition:enter-end="opacity-100"
                     x-transition:leave="transition ease-linear duration-500"
                     x-transition:leave-start="opacity-100"
                     x-transition:leave-end="opacity-0"
                     x-on:keydown.escape.window="showConsultationForm = false"
                     class="fixed z-max inset-0 flex items-end justify-end bg-popup"
                     x-cloak
                    >
                    <div x-show="showConsultationForm"
                         x-transition:enter="transition ease-linear duration-500"
                         x-transition:enter-start="transform translate-x-full"
                         x-transition:enter-end="transform translate-x-0"
                         x-transition:leave="transition ease-linear duration-500"
                         x-transition:leave-start="transform translate-x-0"
                         x-transition:leave-end="transform translate-x-full"
                         class="relative w-full lg:w-2/5 bg-white h-full flex flex-col items-center justify-center pt-10" @click.away="showConsultationForm = false">
                        <p class="lg:text-2xl text-black mb-9">Консультация с доктором</p>

                        {% component 'contactForm' %}

                        <p class="text-gray-500 text-xs text-center w-4/6">
                            Нажимая «Отправить» вы принимаете 
                            <br>
                            <a href="#" class="underline hover:no-underline text-indigo-400 hover:text-gray-500">условия обработки данных</a>
                        </p>

                        <div class="cursor-pointer" @click="showConsultationForm = false">
                            <p class="fixed top-5 right-5 transform rotate-45 text-black text-4xl">+</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="//api-maps.yandex.ru/2.0/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
<script>
    ymaps.ready(init);

    function init() {
        let mapMoscow = new ymaps.Map('map_moscow', {
            center: [55.796845, 37.455678],
            zoom: 15
        }),

        moscowMark = new ymaps.Placemark ([55.796845, 37.455678], {
            hintContent: '<span class="text-black">«ЦЕНТР ПЛАСТИЧЕСКОЙ ХИРУРГИИ» ул. Рогова 22, корпус 3, метро Щукинская</span>'
        }, {
            iconImageHref: '{{ "assets/img/mapMark.svg"|theme }}'
        })

        mapMoscow.geoObjects.add(moscowMark);
        mapMoscow.controls.add('mapTools').add('typeSelector').add('smallZoomControl').add('scaleLine');

        let mapSpb = new ymaps.Map("map_spb", {
            center: [60.001905, 30.315509],
            zoom: 15
        })

        spbMark = new ymaps.Placemark ([60.001905, 30.315509], {
            hintContent: '<span class="text-black">Центр пластической хирургии «PARADA» <br>Проспект Испытателей 2,корпус 2, метро Пионерская</span>'
        }, {
            iconImageHref: '{{ "assets/img/mapMark.svg"|theme }}'
        })

        mapSpb.geoObjects.add(spbMark);
        mapSpb.controls.add('mapTools').add('typeSelector').add('smallZoomControl').add('scaleLine');
    }
</script>

<script>

</script>