title = "Вопрос/ответ"
url = "/faq/:page?"
layout = "default"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "faq"
postsPerPage = 10
noPostsMessage = "Записей не найдено"
sortOrder = "published_at desc"
categoryPage = "about"
postPage = "about"

[contactForm]
disable_fields = "consultation"
==
{% set posts = blogPosts.posts %}

<div class="container mx-auto px-7 pt-32 lg:pt-36 overflow-hidden">
    <hr class="hidden lg:block">

    <div class="tracking-normal">
        <p class="flex space-x-4 text-xs leading-7 lg:text-sm lg:leading-8 my-8">
            <a href="{{ 'home'|page }}" class="text-gray-500 hover:underline">Главная</a>
            <svg class="my-auto" width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3536 4.35355C14.5488 4.15829 14.5488 3.84171 14.3536 3.64645L11.1716 0.464466C10.9763 0.269204 10.6597 0.269204 10.4645 0.464466C10.2692 0.659728 10.2692 0.976311 10.4645 1.17157L13.2929 4L10.4645 6.82843C10.2692 7.02369 10.2692 7.34027 10.4645 7.53553C10.6597 7.7308 10.9763 7.7308 11.1716 7.53553L14.3536 4.35355ZM0 4.5H14V3.5H0V4.5Z" fill="#C4C4C4"/>
            </svg>
            <span class="text-gray-800">Вопрос/ответ</span>
        </p>
    </div>

    <div class="">
        <h1 class="text-xl leading-8 lg:text-3xl lg:leading-10">Вопрос / ответ</h1>
    </div>

    <div class="flex flex-col lg:flex-row py-8 lg:py-16 space-y-8 lg:space-y-0 lg:space-x-5">
        <div id="questions" class="space-y-8 lg:space-y-10 lg:w-2/3">
            {% for post in posts %}
            <div x-data="{show : false}">
                <div class="bg-gray-100 py-6 lg:py-10 px-4 lg:px-10 space-y-6 lg:space-y-10 border border-gray-200">
                    <div class="text-xs lg:text-base">
                        <span class="text-gray-500">Автор:</span>  
                        <span>{{ post.title }}</span>
                    </div>

                    <div class="transition transition-all duration-500 ease-in-out">
                        <p class="text-xs lg:text-base line-clamp leading-6 lg:leading-8" :class="{'line-clamp' : !show}">{{ post.content }}</p>
                    </div>

                    <div
                        x-show.transition.in.delay.500ms.duration.500ms="!show" 
                        >
                        <button type="button" class="text-xs lg:text-sm text-blue-400 underline hover:text-blue-600 active:outline-none focus:outline-none" @click="show = !show">
                            Читать ответ
                        </button>
                    </div>

                    <div
                        x-show.transition.duration.500ms="show"
                        >
                        <hr class="mb-6 lg:mb-10">

                        <div>
                            <p class="text-xs lg:text-base leading-6 lg:leading-8">
                                {{ post.summary }}
                            </p>
                        </div>
                    </div>

                    <div
                        x-show.transition.in.delay.500ms.duration.500ms="show"
                        >
                        <button type="button" class="text-xs lg:text-sm text-blue-400 underline hover:text-blue-600 active:outline-none focus:outline-none" @click="show = !show">
                            Свернуть ответ
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- <div x-data="{show : true}">
                <div class="bg-gray-100 py-6 lg:py-10 px-4 lg:px-10 space-y-6 lg:space-y-10 border border-gray-200">
                    <div class="text-xs lg:text-base">
                        <span class="text-gray-500">Автор:</span>  
                        <span>Ольга С.</span>
                    </div>

                    <div class="transition transition-all duration-500 ease-in-out">
                        <p class="text-xs lg:text-base line-clamp leading-6 lg:leading-8" :class="{'line-clamp' : !show}">Здравствуйте! Делала липосакцию живота,(6мес назад)но кожа все равно дряблая ( Было трое родов, с большим набором веса. Лишний вес почти весь сбросила, но кожа ужасная на животе( Так вот вопрос, сколько будет стоить , наверное мини абдоминопластика? И возможно ли сделать подтяжку груди без имплантов?</p>
                    </div>

                    <div
                        x-show.transition.in.delay.500ms="!show" 
                        >
                        <button type="button" class="text-xs lg:text-sm text-blue-400 underline hover:text-blue-600 active:outline-none focus:outline-none" @click="show = !show">
                            Читать ответ
                        </button>
                    </div>

                    <div
                        x-show.transition.duration.500ms="show"
                        >
                        <hr class="mb-6 lg:mb-10">

                        <div>
                            <p class="text-xs lg:text-base leading-6 lg:leading-8">Здравствуйте.

                                Стоимость миниабдоминопластики 200.000р.,подтяжка без имплантов 240.000р.Окончательную стоимость можно определить только после очной консультации.
                            </p>
                        </div>
                    </div>

                    <div
                        x-show.transition.in.delay.500ms="show"
                        >
                        <button type="button" class="text-xs lg:text-sm text-blue-400 underline hover:text-blue-600 active:outline-none focus:outline-none" @click="show = !show">
                            Свернуть ответ
                        </button>
                    </div>
                </div>
            </div> -->
        </div>

        <div id="form" class="lg:w-1/3">
            <div class="flex flex-col items-center justify-center shadow-xl pt-6 pb-6 lg:pt-10 border border-gray-200">
                <img src="{{ 'assets/img/question.svg'|theme }}" class="mx-auto">

                <h2 class="text-lg lg:text-xl mx-auto pt-2 pb-4">Задайте свой вопрос</h2>

                <!-- <form action="submit" class="px-4 pb-6 lg:px-6 space-y-4 text-xs">
                    <input type="text" name="name" placeholder="Имя" class="bg-gray-50 border w-full h-14 p-4">

                    <input type="tel" name="phone" placeholder="Телефон" class="bg-gray-50 border w-full h-14 p-4">

                    <input type="email" name="email" placeholder="Почта" class="bg-gray-50 border w-full h-14 p-4">

                    <input type="text" name="city" placeholder="Город" class="bg-gray-50 border w-full h-14 p-4">

                    <textarea name="text" id="tetx" placeholder="Текст вопроса" class="bg-gray-50 border w-full h-14 p-4 р-40 h-32" style="resize: none;"></textarea>

                    <button type="submit" class="text-white mx-auto my-auto p-4 bg-second w-full font-bold">Отправить</button>
                </form> -->

                {% component 'contactForm' %}

                <div class="px-4">
                    <p class="text-xxs text-gray-700 text-center">Нажимая «Отправить сообщение» вы принимаете условия обработки данных</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% partial 'news_and_articles' %}