title = "Фотогалерея"
url = "/gallery/:slug"
layout = "default"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "about"

[gallerySlug]
slug = "{{ :slug }}"
lang = "Галерея"
jqueryinject = "no"
thumbnail = "true"
caption = "true"
desc = "true"
counter = "true"
controls = "true"
preload = 1
mode = "lg-slide"
speed = 600
loop = "true"
auto = "false"
pause = 2000
escKey = "true"
height = 200
width = 300
resizer = "crop"
==
{% set post = blogPost.post %}

<div class="container px-7 mx-auto pt-32 lg:pt-36 pb-16 overflow-hidden">
    <hr class="hidden lg:block">

    <div class="tracking-normal">
        <p class="flex space-x-4 text-xs leading-7 lg:text-sm lg:leading-8 my-8">
            <a href="{{ 'home'|page }}" class="text-gray-500 hover:underline">Главная</a>
            <svg class="my-auto" width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3536 4.35355C14.5488 4.15829 14.5488 3.84171 14.3536 3.64645L11.1716 0.464466C10.9763 0.269204 10.6597 0.269204 10.4645 0.464466C10.2692 0.659728 10.2692 0.976311 10.4645 1.17157L13.2929 4L10.4645 6.82843C10.2692 7.02369 10.2692 7.34027 10.4645 7.53553C10.6597 7.7308 10.9763 7.7308 11.1716 7.53553L14.3536 4.35355ZM0 4.5H14V3.5H0V4.5Z" fill="#C4C4C4"/>
            </svg>
            <a href="{{ 'photo'|page }}" class="text-gray-500 hover:underline">Фото</a>
            <svg class="my-auto" width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3536 4.35355C14.5488 4.15829 14.5488 3.84171 14.3536 3.64645L11.1716 0.464466C10.9763 0.269204 10.6597 0.269204 10.4645 0.464466C10.2692 0.659728 10.2692 0.976311 10.4645 1.17157L13.2929 4L10.4645 6.82843C10.2692 7.02369 10.2692 7.34027 10.4645 7.53553C10.6597 7.7308 10.9763 7.7308 11.1716 7.53553L14.3536 4.35355ZM0 4.5H14V3.5H0V4.5Z" fill="#C4C4C4"/>
            </svg>
            <span class="text-gray-800">{{ post.content }}</span>
        </p>
    </div>

    <div class="pb-8">
        <h1 class="text-xl leading-8 lg:text-3xl lg:leading-10">Фотогалерея</h1>
    </div>
    
    <!-- <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 auto-cols-min auto-rows-min lg:gap-6 pb-10"
         x-data="{showModal: false}"
         x-on:keydown.escape.window="showModal = false"
    >
        {% for image in post.rjgallery.images %}
        <div class="relative overflow-hidden w-full h-auto lg:cursor-pointer md:max-h-56 lg:max-h-52 xl:max-h-48 xl:my-auto"
            @click="showModal = {{ loop.index }}"
        >
            <img src="{{ image.path }}">
        </div>
        {% endfor %}

        {% for image in post.rjgallery.images %}
        <div x-show.transition.opacity.duration.500ms="showModal === {{ loop.index }}"
            class="overflow-hidden bg-gray-500 bg-opacity-50 fixed z-50 inset-0 lg:flex items-center justify-center"
        >
            <div class="flex relative" @click.away="showModal = false">
                <img src="{{ image.path }}" @click="showModal = showModal === {{ post.rjgallery.images|length }} ? 1 : showModal + 1" class="z-50 max-h-screen py-10 object-cover overflow-hidden">
                
                <button class="absolute z-50 top-3 -right-7 focus:outline-none" @click="showModal = false">
                    <img src="{{ 'assets/img/closeModal.svg'|theme }}">
                </button>
            </div>
        </div>
        {% endfor %}
    </div> -->
    
    <div class="mb-16">
        {% component 'gallerySlug' %}
    </div>
</div>



{% partial 'news_and_articles' %}