title = "Максим Усунгван"
url = "/"
layout = "index"
is_hidden = 0

[blogPosts blogPostsNews]
pageNumber = "{{ :page }}"
categoryFilter = "news"
postsPerPage = 2
noPostsMessage = "Записей не найдено"
sortOrder = "published_at desc"
categoryPage = "news"
postPage = "single_news"

[blogPosts blogPostsArticles]
pageNumber = "{{ :page }}"
categoryFilter = "articles"
postsPerPage = 3
noPostsMessage = "Записей не найдено"
sortOrder = "published_at desc"
categoryPage = "articles"
postPage = "article"

[blogPosts blogPostsFeedbacks]
pageNumber = "{{ :page }}"
categoryFilter = "feedbacks"
postsPerPage = 10
noPostsMessage = "Записей не найдено"
sortOrder = "published_at desc"
categoryPage = "about"
postPage = "about"

[contactForm]
disable_fields = "email|city|faq"
allow_redirect = 1
redirect_url = "/"
==
{% set news = blogPostsNews.posts %}
{% set articles = blogPostsArticles.posts %}
{% set feedbacks = blogPostsFeedbacks.posts %}

<div id="header" class="absolute z-30 w-full px-7 sm:px-16 pt-8 lg:bg-transparent lg:h-auto">
    <div class="container flex flex-col lg:flex-row lg:justify-between mx-auto">
        <div id="logo" class="flex justify-between w-full lg:w-auto logoColor sm:mr-4" :class="{'fixed': showMenu}">
            <a href="{{ 'home'|page }}" class="flex w-40 md:w-auto">
                <svg id="logo-img" class="fill-current" :class="{'fill-white' : showMenu}" width="188" height="86" viewBox="0 0 188 86" xmlns="http://www.w3.org/2000/svg">
                    <path d="M66.8698 34.4377V47.8508C65.7828 48.2076 64.6848 48.5845 63.5722 48.9812V34.4377H66.8698ZM66.8698 49.3037V54.9432H66.8631C66.8631 55.5017 67.0134 56.9705 67.2844 57.4383C67.5542 57.9034 67.9459 58.2996 68.4294 58.5774H68.4359C68.9148 58.8526 69.4563 58.9902 70.0021 58.9902C70.548 58.9902 71.0894 58.8523 71.5683 58.5774H71.5749C72.0586 58.2996 72.45 57.9034 72.7198 57.4383C72.991 56.9705 73.1411 55.5017 73.1411 54.9432H73.1346V47.6714C74.2328 47.4274 75.3307 47.2055 76.432 47.0043V54.943H76.4255C76.4258 56.0832 76.1195 57.1808 75.5662 58.1357C75.0119 59.0914 74.2084 59.9052 73.2155 60.4765L73.2171 60.4794C72.2174 61.0537 71.1068 61.3412 70.002 61.3412C68.8971 61.3412 67.7869 61.0538 66.787 60.4794L66.7886 60.4765C65.7956 59.9052 64.992 59.0914 64.4378 58.1357C63.8845 57.181 63.5783 56.0832 63.5785 54.943H63.5719V50.3526C64.684 49.9778 65.7819 49.6283 66.8695 49.3035L66.8698 49.3037ZM73.1347 45.9916V34.4484H76.4322V45.1881C75.3303 45.4355 74.2329 45.7027 73.1347 45.9916ZM149.208 60.7977H142.754V60.7781V58.4466V53.6866C143.838 53.8561 144.937 54.0103 146.051 54.146V58.4466H149.208C149.754 58.4466 150.295 58.3089 150.774 58.0336H150.78C151.264 57.7558 151.656 57.3598 151.925 56.8947C152.158 56.4929 152.302 55.3525 152.338 54.6848C153.275 54.731 154.224 54.7632 155.187 54.7782L155.62 54.7831C155.56 55.7853 155.263 56.7451 154.772 57.5924C154.218 58.5481 153.414 59.3617 152.421 59.9332L152.423 59.936C151.423 60.5103 150.313 60.7978 149.208 60.7978V60.7977ZM142.754 51.1217V34.4484H146.051V51.6332C144.942 51.482 143.843 51.3103 142.754 51.1217ZM152.34 52.2423V34.4377H155.638V52.3488L155.187 52.3431C154.227 52.3286 153.278 52.2941 152.34 52.2423ZM162.189 46.0913H168.453V40.2668H168.46C168.46 39.7082 168.31 38.2395 168.039 37.7716C167.769 37.3065 167.377 36.9104 166.894 36.6326H166.887C166.408 36.3576 165.867 36.2198 165.321 36.2198C164.775 36.2198 164.234 36.3573 163.755 36.6326H163.748C163.265 36.9104 162.873 37.3065 162.603 37.7716C162.332 38.2395 162.182 39.7082 162.182 40.2668H162.189V46.0913H162.189ZM168.453 48.3924H162.189V52.2006C161.093 52.2636 159.994 52.3071 158.891 52.3312V40.2666H158.898C158.897 39.1265 159.204 38.0288 159.757 37.074C160.311 36.1182 161.115 35.3045 162.108 34.7331L162.106 34.7303C163.106 34.156 164.216 33.8685 165.321 33.8685C166.426 33.8685 167.536 34.1558 168.536 34.7303L168.535 34.7331C169.527 35.3045 170.331 36.1182 170.885 37.074C171.439 38.0287 171.745 39.1265 171.745 40.2666H171.751V51.111C170.658 51.3017 169.558 51.4691 168.454 51.6142V48.3924H168.453ZM162.189 54.5582V60.7722H158.891V54.7437C159.997 54.7061 161.096 54.6441 162.189 54.5582ZM171.751 53.1624V60.7615H168.453V53.7912C169.559 53.6068 170.658 53.3968 171.751 53.1624ZM132.38 46.1415H136.149H139.447V48.4425V50.4976C138.341 50.2719 137.243 50.032 136.149 49.7821V48.4424H132.38V46.1414V46.1415ZM139.447 53.1173V54.6199H139.44C139.44 55.7602 139.134 56.8578 138.581 57.8127C138.026 58.7684 137.223 59.5821 136.23 60.1536L136.232 60.1562C135.232 60.7307 134.121 61.0182 133.017 61.0182C131.912 61.0182 130.801 60.7308 129.802 60.1562L129.803 60.1536C128.81 59.5822 128.007 58.7684 127.452 57.8127C126.899 56.858 126.593 55.7602 126.593 54.6199H126.586V50.1528C127.68 50.4334 128.778 50.713 129.884 50.9883V54.6198H129.877C129.877 55.1784 130.028 56.6472 130.299 57.1151C130.569 57.5801 130.96 57.9762 131.444 58.254H131.45C131.929 58.5292 132.471 58.6669 133.016 58.6669C133.562 58.6669 134.104 58.5291 134.583 58.254H134.589C135.073 57.9762 135.464 57.5801 135.734 57.1151C136.005 56.6472 136.155 55.1784 136.155 54.6198H136.149V52.4524C137.236 52.6855 138.334 52.9087 139.446 53.1172L139.447 53.1173ZM126.587 47.4177V40.2668H126.593C126.593 39.1266 126.899 38.029 127.452 37.0741C128.007 36.1184 128.81 35.3046 129.803 34.7332L129.802 34.7304C130.801 34.1561 131.912 33.8686 133.017 33.8686C134.122 33.8686 135.232 34.156 136.232 34.7304L136.23 34.7332C137.223 35.3046 138.027 36.1184 138.581 37.0741C139.134 38.0288 139.441 39.1266 139.44 40.2668H139.447V41.7328H136.149V40.2668H136.156C136.156 39.7082 136.006 38.2395 135.735 37.7716C135.465 37.3065 135.073 36.9104 134.59 36.6326H134.583C134.104 36.3576 133.563 36.2198 133.017 36.2198C132.471 36.2198 131.93 36.3573 131.451 36.6326H131.444C130.96 36.9104 130.569 37.3065 130.299 37.7716C130.028 38.2395 129.878 39.7082 129.878 40.2668H129.884V47.9761V48.2575C128.786 47.9793 127.688 47.698 126.587 47.4178L126.587 47.4177ZM97.5086 34.4376V42.9141C97.1543 42.9152 96.7981 42.9188 96.4405 42.925C95.6863 42.938 94.9438 42.9575 94.211 42.983V34.4376H97.5086ZM97.5086 45.2483V54.9429H97.5019C97.5019 55.5014 97.6521 56.9702 97.9232 57.4381C98.193 57.9031 98.5847 58.2993 99.0681 58.5771H99.0748C99.5536 58.8523 100.095 58.9899 100.641 58.9899C101.187 58.9899 101.728 58.8521 102.207 58.5771H102.214C102.697 58.2993 103.089 57.9031 103.359 57.4381C103.63 56.9702 103.78 55.5014 103.78 54.9429H103.773V45.5313C104.884 45.6314 105.982 45.7568 107.071 45.9025V54.9429H107.064C107.065 56.083 106.758 57.1807 106.205 58.1355C105.651 59.0913 104.847 59.9051 103.854 60.4764L103.856 60.4792C102.856 61.0535 101.746 61.341 100.641 61.341C99.5359 61.341 98.4255 61.0537 97.4257 60.4792L97.4272 60.4764C96.4343 59.9051 95.6308 59.0913 95.0766 58.1355C94.5231 57.1808 94.2169 56.083 94.2174 54.9429H94.2107V45.3089C94.9591 45.2875 95.7173 45.2707 96.4872 45.2574C96.8289 45.2514 97.1693 45.2491 97.5083 45.2483H97.5086ZM103.773 43.1453V34.4483H107.071V43.4628C105.986 43.3372 104.887 43.2303 103.773 43.1453ZM88.5425 54.6236C88.5425 56.0933 88.3546 57.4697 86.9827 58.2576H86.9762C86.4972 58.5329 85.9558 58.6706 85.41 58.6706C84.8641 58.6706 84.3227 58.5327 83.8437 58.2576H83.8372C82.4707 57.4727 82.271 56.0892 82.271 54.6236H82.2776V53.1576H78.9801V54.6236H78.9866C78.9863 55.7639 79.2927 56.8615 79.846 57.8164C80.4002 58.7721 81.2037 59.5857 82.1966 60.1572L82.1951 60.1599C83.1948 60.7343 84.3053 61.0218 85.4102 61.0218C86.515 61.0218 87.6253 60.7345 88.6251 60.1599L88.6236 60.1572C89.6165 59.5859 90.4201 58.7721 90.9744 57.8164C91.5277 56.8616 91.8339 55.7639 91.8336 54.6236H91.8402C91.8402 54.3449 91.8458 54.4811 91.8366 54.202C91.7819 52.5885 91.0978 51.0419 89.9547 49.9002L89.9544 49.8998L86.5456 46.47L85.8358 45.7659C84.5439 45.8766 83.2739 46.0071 82.0192 46.1593L84.4257 48.5795L87.3933 51.522V51.5224L87.3942 51.5231C88.1906 52.3143 88.5016 53.168 88.5391 54.2486C88.5482 54.5108 88.5426 54.3611 88.5426 54.6237L88.5425 54.6236ZM83.8952 43.8419L83.4177 43.3682V43.3679L83.4168 43.3672C82.6204 42.5761 82.3094 41.7223 82.2718 40.6417C82.2628 40.3794 82.2684 40.5291 82.2684 40.2665C82.2684 38.7969 82.4561 37.4205 83.828 36.6324H83.8347C84.3135 36.3572 84.8551 36.2196 85.4008 36.2196C85.9468 36.2196 86.4881 36.3575 86.967 36.6324H86.9736C88.3401 37.4175 88.5398 38.8008 88.5398 40.2665H88.5333V41.7326H91.8308V40.2665H91.8242C91.8245 39.1263 91.5182 38.0287 90.9649 37.0738C90.4106 36.1181 89.6072 35.3043 88.6142 34.733L88.6158 34.7301C87.6161 34.1558 86.5055 33.8683 85.4007 33.8683C84.2958 33.8683 83.1856 34.1557 82.1857 34.7301L82.1873 34.733C81.1943 35.3043 80.3907 36.1181 79.8365 37.0738C79.2832 38.0285 78.977 39.1263 78.9773 40.2665H78.9706C78.9706 40.5452 78.9651 40.4091 78.9743 40.6882C79.0201 42.0391 79.5071 43.3431 80.3353 44.4019C81.5081 44.1931 82.6929 44.0064 83.8951 43.8418L83.8952 43.8419ZM178.345 60.7721V51.425C177.252 51.767 176.153 52.0838 175.048 52.3749V60.7721H178.345ZM178.345 49.6559V40.2666H178.338C178.338 39.7081 178.489 38.2393 178.76 37.7715C179.029 37.3064 179.421 36.9102 179.905 36.6324H179.911C180.39 36.3572 180.932 36.2196 181.477 36.2196C182.023 36.2196 182.565 36.3575 183.044 36.6324H183.05C183.534 36.9102 183.925 37.3064 184.195 37.7715C184.466 38.2393 184.616 39.7081 184.616 40.2666H184.61V47.6486C185.717 47.2345 186.817 46.7902 187.907 46.3153V40.2666H187.901C187.901 39.1265 187.595 38.0288 187.042 37.074C186.487 36.1182 185.684 35.3045 184.691 34.7331L184.692 34.7303C183.693 34.156 182.582 33.8685 181.477 33.8685C180.372 33.8685 179.262 34.1558 178.262 34.7303L178.264 34.7331C177.271 35.3045 176.467 36.1182 175.913 37.074C175.36 38.0287 175.053 39.1265 175.054 40.2666H175.047V50.4618C176.153 50.2185 177.252 49.95 178.345 49.6559H178.345ZM184.61 49.1633V60.7614H187.908V47.7269C186.815 48.2312 185.715 48.7105 184.61 49.1634V49.1633ZM113.702 60.7721V47.0398C112.609 46.8154 111.51 46.6057 110.404 46.415V60.7721H113.702ZM113.702 44.4689V40.2666H113.695C113.695 39.7081 113.845 38.2393 114.117 37.7715C114.386 37.3064 114.778 36.9102 115.262 36.6324H115.268C115.747 36.3572 116.289 36.2196 116.834 36.2196C117.38 36.2196 117.922 36.3575 118.4 36.6324H118.407C118.891 36.9102 119.282 37.3064 119.552 37.7715C119.823 38.2393 119.973 39.7081 119.973 40.2666H119.967V45.7886C121.072 46.0457 122.171 46.3113 123.264 46.5815V40.2666H123.258C123.258 39.1265 122.952 38.0288 122.398 37.074C121.844 36.1182 121.041 35.3045 120.048 34.7331L120.049 34.7303C119.049 34.156 117.939 33.8685 116.834 33.8685C115.729 33.8685 114.619 34.1558 113.619 34.7303L113.621 34.7331C112.628 35.3045 111.824 36.1182 111.27 37.074C110.717 38.0287 110.41 39.1265 110.411 40.2666H110.404V43.9101C111.515 44.0796 112.614 44.2676 113.702 44.4689H113.702ZM119.967 48.4699V60.7612H123.264V49.2997C122.164 49.0183 121.065 48.7403 119.967 48.4699Z"/>
                    <path d="M66.867 20.2215H69.6501C70.4129 20.2215 71.1588 20.2724 71.8365 20.5061C72.5458 20.7509 73.1595 21.1891 73.6057 21.9587L73.663 22.0577V22.0682C73.7888 22.3035 73.886 22.5502 73.9528 22.8019C74.0323 23.0991 74.0719 23.4036 74.0719 23.7049C74.0719 24.0068 74.032 24.3111 73.9528 24.6077C73.8861 24.8602 73.7889 25.1068 73.663 25.3422V25.3537L73.6057 25.4522C73.1595 26.2215 72.5458 26.6597 71.8365 26.9044C71.2829 27.0954 70.6842 27.1643 70.068 27.1827V27.189H66.867V20.2215ZM96.8683 26.5328C97.9619 26.5328 98.8487 27.2307 98.8487 28.0911C98.8487 28.9517 97.9619 29.6494 96.8683 29.6494C95.7751 29.6494 94.8883 28.9517 94.8883 28.0911C94.8883 27.2307 95.7751 26.5328 96.8683 26.5328ZM83.0303 20.218H87.0181C88.0954 20.218 89.1054 20.355 89.6835 21.3504V21.3555C89.8854 21.7034 89.9864 22.0965 89.9864 22.4926C89.9864 22.889 89.8851 23.2821 89.6835 23.63V23.635C89.1056 24.6308 88.0958 24.7672 87.0181 24.7672V24.7674H83.0303V20.2182V20.218ZM89.4537 29.5483L93.5114 29.5378L90.6675 26.7081C90.7818 26.6543 90.894 26.5959 91.0033 26.5329C91.7042 26.1306 92.3013 25.5468 92.7203 24.8261L92.7221 24.8271C93.1434 24.101 93.3542 23.2947 93.3542 22.4924C93.3542 21.6905 93.1434 20.8843 92.7221 20.1582L92.7203 20.159C92.3013 19.4385 91.7042 18.8547 91.0033 18.4522C90.303 18.0504 89.4978 17.828 88.6615 17.828V17.8235H83.0303H79.7327V20.2177V29.5516H83.0303V27.1613H87.0538L89.4537 29.5481V29.5483ZM63.5806 29.5519V29.5873H71.1379V29.5813H71.5557C72.0799 29.5813 72.5934 29.5127 73.0828 29.3822C73.5853 29.2479 74.0649 29.0502 74.5071 28.7964C74.95 28.5421 75.3626 28.2274 75.7308 27.8613C76.0905 27.5037 76.408 27.0953 76.6695 26.6452L76.7674 26.4772C76.9827 26.0758 77.1494 25.6544 77.2661 25.2231C77.4005 24.727 77.468 24.2156 77.468 23.7048C77.468 23.1943 77.4005 22.6832 77.2661 22.1868C77.1498 21.7565 76.9837 21.3362 76.7689 20.9358L76.6695 20.765C76.4094 20.3167 76.0912 19.9086 75.7289 19.5481C75.3616 19.1818 74.9497 18.8677 74.5071 18.6137C74.0646 18.3597 73.5846 18.1617 73.0818 18.0275C72.5928 17.8973 72.08 17.8286 71.5559 17.8286H71.138V17.8227H63.5698V17.8237V20.2214V29.5517H63.5809L63.5806 29.5519Z"/>
                    <path d="M103.704 22.7342V29.5082H104.548V21.9695H100.998V29.5082H101.842V22.7342H103.704ZM108.477 22.7342V29.5082H109.321V21.9695H106.236L106.031 27.6775C106.009 28.3992 105.89 28.7546 105.186 28.7546V29.5191H105.327C106.485 29.5084 106.81 28.8299 106.853 27.6345L107.026 22.7343H108.477L108.477 22.7342ZM112.99 27.9898L113.283 29.5082H114.127L112.677 21.9695H111.453L110.003 29.5082H110.782L111.075 27.9898H112.99ZM112.016 22.9172L112.871 27.268H111.183L112.016 22.9172ZM116.421 21.8942C115.263 21.8942 114.722 22.6482 114.722 23.7897V27.6882C114.722 28.8299 115.263 29.5837 116.421 29.5837C117.59 29.5837 118.132 28.8297 118.132 27.6882V26.7512H117.331V27.7313C117.331 28.4097 117.06 28.819 116.443 28.819C115.837 28.819 115.556 28.4097 115.556 27.7313V23.7465C115.556 23.068 115.837 22.6587 116.443 22.6587C117.06 22.6587 117.331 23.068 117.331 23.7465V24.4681H118.132V23.7896C118.132 22.648 117.59 21.8941 116.421 21.8941V21.8942ZM120.902 29.5082V22.7342H122.299V21.9695H118.662V22.7342H120.058V29.5082H120.902ZM125.741 23.5095V29.5082H126.498V21.9695H125.557L124.345 25.5128L123.673 27.5913V21.9695H122.927V29.5082H123.803L124.918 26.0296L125.741 23.5095ZM129.984 29.5082H130.817V21.9695H129.984V25.1142C129.897 25.6851 129.583 25.9974 129.074 25.9974C128.479 25.9974 128.143 25.5451 128.143 24.9097V21.9695H127.299V24.9742C127.299 25.9867 127.786 26.7622 128.804 26.7622C129.258 26.7622 129.713 26.5575 129.984 26.1697V29.5084V29.5082ZM132.538 25.3082V22.7342H134.811V21.9695H131.694V29.5082H134.811V28.7436H132.538V26.0621H134.389V25.3083H132.538V25.3082ZM137.225 21.8941C136.067 21.8941 135.525 22.648 135.525 23.7896V27.688C135.525 28.8297 136.067 29.5835 137.225 29.5835C138.394 29.5835 138.935 28.8296 138.935 27.688V26.751H138.134V27.7311C138.134 28.4096 137.863 28.8189 137.246 28.8189C136.64 28.8189 136.359 28.4096 136.359 27.7311V23.7464C136.359 23.0679 136.64 22.6586 137.246 22.6586C137.863 22.6586 138.134 23.0679 138.134 23.7464V24.4679H138.935V23.7894C138.935 22.6479 138.394 21.8939 137.225 21.8939V21.8941ZM142.615 29.5081H143.481L141.5 25.4051L143.416 21.9694H142.561L140.548 25.6095V21.9694H139.703V29.5081H140.548V26.9772L140.991 26.2341L142.615 29.5081ZM146.901 27.9896L147.194 29.5081H148.038L146.587 21.9694H145.364L143.914 29.5081H144.693L144.986 27.9896H146.901ZM145.927 22.9171L146.782 27.2679H145.094L145.927 22.9171ZM151.252 26.288V29.5081H152.097V21.9694H150.408C149.217 21.9694 148.72 22.5726 148.72 23.6926V24.3064C148.72 25.1357 149.012 25.6526 149.651 25.8573C148.969 26.0619 148.709 26.6218 148.709 27.4295V28.6035C148.709 28.9374 148.687 29.2497 148.557 29.5081H149.412C149.51 29.2928 149.553 29.0989 149.553 28.5928V27.408C149.553 26.5572 149.953 26.288 150.657 26.288H151.252H151.252ZM151.252 22.734V25.5233H150.614C149.954 25.5233 149.553 25.308 149.553 24.4895V23.7679C149.553 23.0893 149.802 22.7339 150.43 22.7339H151.252V22.734ZM157.779 29.5081H158.667L157.151 25.6203L158.569 21.9694H157.779L156.599 24.9849L155.43 21.9694H154.554L155.983 25.6203L154.457 29.5081H155.257L156.524 26.2557L157.779 29.5081H157.779ZM162.163 23.5094V29.5081H162.921V21.9694H161.979L160.767 25.5126L160.095 27.5912V21.9694H159.349V29.5081H160.225L161.34 26.0295L162.163 23.5094ZM163.776 21.9692V29.5079H164.62V26.5356H165.367C166.568 26.5356 167.131 25.9109 167.131 24.7154V23.8108C167.131 22.6691 166.622 21.9691 165.432 21.9691H163.775L163.776 21.9692ZM164.62 25.7817V22.7339H165.432C166.049 22.7339 166.298 23.0784 166.298 23.7679V24.7695C166.298 25.4909 165.994 25.7818 165.367 25.7818H164.62V25.7817ZM171.688 21.9692H170.811L170.129 24.5863L169.685 26.4818L169.166 24.5863L168.397 21.9692H167.553L169.296 27.5263L169.123 28.0219C168.982 28.5926 168.69 28.7972 168.04 28.7648V29.5186C169.415 29.5834 169.805 28.9802 170.064 27.8495L171.688 21.9692ZM172.305 21.9692V29.5079H173.149V26.5356H173.896C175.097 26.5356 175.66 25.9109 175.66 24.7154V23.8108C175.66 22.6691 175.152 21.9691 173.961 21.9691H172.305L172.305 21.9692ZM173.149 25.7817V22.7339H173.961C174.578 22.7339 174.827 23.0784 174.827 23.7679V24.7695C174.827 25.4909 174.524 25.7818 173.896 25.7818H173.149V25.7817ZM179.351 22.7339V21.9692H176.331V29.5079H177.165V22.7339H179.351H179.351ZM182.988 23.5093V29.5079H183.746V21.9692H182.804L181.592 25.5125L180.921 27.591V21.9692H180.174V29.5079H181.051L182.165 26.0293L182.988 23.5093ZM187.155 26.2878V29.5079H188V21.9692H186.311C185.12 21.9692 184.622 22.5724 184.622 23.6924V24.3063C184.622 25.1356 184.915 25.6524 185.553 25.8571C184.871 26.0617 184.612 26.6217 184.612 27.4294V28.6033C184.612 28.9373 184.59 29.2496 184.46 29.5079H185.315C185.412 29.2927 185.456 29.0988 185.456 28.5926V27.4079C185.456 26.557 185.856 26.2878 186.56 26.2878H187.155H187.155ZM187.155 22.7339V25.5232H186.517C185.856 25.5232 185.456 25.3079 185.456 24.4893V23.7678C185.456 23.0891 185.705 22.7338 186.333 22.7338H187.155V22.7339Z"/>
                    <path d="M34.8908 12.3494H54.0766V66.1552H40.1321C40.4248 65.4177 40.6802 64.6756 40.8958 63.9292C40.9971 63.5782 41.0895 63.2265 41.1735 62.8741H50.7792V15.6305H35.0347C35.037 14.5923 34.9893 13.4968 34.8908 12.3494ZM15.086 66.1552H0.00012207V12.3494H19.5193C19.3114 13.4887 19.1793 14.5855 19.1173 15.6305H3.29758V62.8741H13.7458C14.1083 63.9654 14.5541 65.0601 15.0861 66.1552H15.086Z"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.6816 44.6367C21.8119 37.539 22.0573 31.2633 15.5024 23.8954C15.0254 23.3594 15.4205 23.3631 15.8768 23.604C22.4337 27.0625 23.1 31.9187 23.1 34.8805C23.1 42.3208 19.6546 47.2773 19.5457 54.4057C19.4679 59.5121 20.4757 64.7534 23.0422 69.6665C26.4397 76.1707 27.5496 81.4184 25.2813 85.8581C25.1681 86.0794 25.0161 86.0172 25.0398 85.8397C25.5473 80.4332 23.6356 75.1007 19.5797 69.4202C13.3591 60.7077 13.5021 51.8186 17.6814 44.6369L17.6816 44.6367Z"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M29.8024 77.0476C29.7378 77.2312 29.9165 77.295 30.1065 77.0863C30.1473 77.0414 30.1903 76.9974 30.2318 76.953C38.4183 68.2278 42.643 58.6849 36.851 48.9587C32.326 41.3597 33.0376 30.3458 40.7991 18.1254C40.9262 17.8518 40.7408 17.7899 40.5212 17.9921C32.9612 24.9434 31.0557 31.3266 30.8582 37.6709C30.5612 47.195 34.719 50.2436 35.0062 57.3906C35.228 62.9092 33.392 69.2223 29.8023 77.0475L29.8024 77.0476Z"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.6816 44.6368C21.8119 37.539 22.0573 31.2634 15.5024 23.8955C15.0254 23.3595 15.4249 23.3548 15.8768 23.604C25.3482 28.8278 25.5683 34.5166 20.8163 45.8801C17.6804 53.38 19.0103 61.9477 23.0422 69.6664C26.4399 76.1711 27.5496 81.4183 25.2813 85.858C25.1681 86.0793 25.0161 86.0171 25.0398 85.8396C25.5473 80.4331 23.6356 75.1006 19.5797 69.4201C13.3591 60.7076 13.5021 51.8185 17.6814 44.6368H17.6816Z"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M29.8024 77.0476C29.7378 77.2312 29.9165 77.295 30.1065 77.0863C30.1473 77.0414 30.1903 76.9974 30.2318 76.953C38.4183 68.2278 42.643 58.6849 36.851 48.9587C32.326 41.3597 33.0376 30.3458 40.7991 18.1254C40.9262 17.8518 40.7329 17.781 40.5212 17.9921C28.9271 29.5447 27.9117 39.7703 33.5537 50.4351C37.2462 57.4149 34.9834 65.7534 29.8021 77.0475L29.8024 77.0476Z"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M26.8022 21.3896C30.1448 21.464 30.7773 12.2009 29.8129 0.310368C29.7663 -0.0538676 30.0094 -0.131305 30.1144 0.261371C30.9005 3.19299 31.7353 5.82093 32.2374 8.85012C33.936 19.0967 31.8938 25.8398 26.7966 25.8751C21.4532 25.912 19.4865 17.0694 24.077 6.02789C24.1022 5.96651 24.1287 5.90456 24.1546 5.84247C24.2536 5.60748 24.4306 5.55173 24.4339 5.78713C23.911 14.4252 24.3836 21.3356 26.8024 21.3896H26.8022Z"/>
                </svg>
            </a>

            <div class="lg:hidden my-auto relative">
                <button class="focus:outline-none">
                    <svg x-show="!showMenu" @click="showMenu = ! showMenu, logoColor = 'text-white'" class="stroke-current" width="39" height="39" viewBox="0 0 39 39" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.5" y="0.5" width="38" height="38" rx="4.5" fill="white" fill-opacity="0.1"/>
                        <line x1="9" y1="16.25" x2="30" y2="16.25" stroke-width="1.5"/>
                        <line x1="9" y1="24.25" x2="30" y2="24.25" stroke-width="1.5"/>
                    </svg>
                    <img x-show="showMenu" @click="showMenu = ! showMenu, logoColor = ''" class="fixed top-14 right-8 w-8 h-8" src="{{ 'assets/img/closeBurgerMenu.svg'|theme }}" alt="">
                </button>
            </div>
        </div>


        <div id="main-menu" class="flex flex-col uppercase main-menu hidden lg:flex">
            <ul class="flex flex-col mx-auto lg:mx-0 lg:flex-row space-y-5 lg:space-y-0 lg:space-x-1 xl:space-x-5 pt-8 lg:pt-0 lg:my-auto whitespace-nowrap lg:p-0.5 text-sm text-center lg:text-left">
                <li class="p-0.5 relative">
                    <a class="menu-link" href="{{ 'about'|page }}">О Докторе</a>
                </li>

                <li class="p-0.5 relative">
                    <a class="menu-link" href="{{ 'price'|page }}">Прайс</a>
                </li>

                <li class="p-0.5 relative">
                    <a class="menu-link" href="{{ 'faq'|page }}">Вопрос/Ответ</a>
                </li>

                <li class="p-0.5 relative">
                    <a class="menu-link" href="{{ 'news'|page }}">Новости</a>
                </li>

                <li class="p-0.5 relative">
                    <a class="menu-link" href="{{ 'articles'|page }}">Статьи</a>
                </li>

                <li class="p-0.5 relative">
                    <a class="menu-link" href="{{ 'photo'|page }}">Фото</a>
                </li>

                <li class="p-0.5 relative">
                    <a class="menu-link" href="{{ 'contacts'|page }}">Контакты</a>
                </li>
            </ul>
        </div>

        <div class="hidden lg:flex items-center whitespace-nowrap text-sm -mt-0.5">
            <a href="tel:+79118101218">+ 7 (911) 810-1218</a>
        </div>
    </div>
</div>

<div x-show="showMenu"
     x-transition:enter="transition ease-out duration-700"
     x-transition:enter-start="opacity-0 transform -translate-y-60"
     x-transition:enter-end="opacity-100 transform translate-y-0"
     x-transition:leave="transition ease-in duration-500"
     x-transition:leave-start="opacity-100 transform translate-y-0"
     x-transition:leave-end="opacity-0 transform -translate-y-40"
     x-cloak
     class="lg:hidden fixed z-20 w-full h-full bg-second px-7 sm:px-16 pt-32 text-white"
>
    <div class="container flex flex-col mx-auto">
        <div class="flex flex-col uppercase main-menu">
            <ul class="flex flex-col space-y-5 pt-8 lg:pt-0 lg:my-auto whitespace-nowrap text-sm border-b border-gray-400 pb-10">
                <li class="p-0.5 relative flex">
                    <p class="text-gray-400 mr-10">&mdash;</p>
                    <a href="{{ 'about'|page }}">О Докторе</a>
                </li>

                <li class="p-0.5 relative flex">
                    <p class="text-gray-400 mr-10">&mdash;</p>
                    <a href="{{ 'price'|page }}">Прайс</a>
                </li>

                <li class="p-0.5 relative flex">
                    <p class="text-gray-400 mr-10">&mdash;</p>
                    <a href="{{ 'faq'|page }}">Вопрос/Ответ</a>
                </li>

                <li class="p-0.5 relative flex">
                    <p class="text-gray-400 mr-10">&mdash;</p>
                    <a href="{{ 'news'|page }}">Новости</a>
                </li>

                <li class="p-0.5 relative flex">
                    <p class="text-gray-400 mr-10">&mdash;</p>
                    <a href="{{ 'articles'|page }}">Статьи</a>
                </li>

                <li class="p-0.5 relative flex">
                    <p class="text-gray-400 mr-10">&mdash;</p>
                    <a href="{{ 'photo'|page }}">Фото</a>
                </li>

                <li class="p-0.5 relative flex">
                    <p class="text-gray-400 mr-10">&mdash;</p>
                    <a href="{{ 'contacts'|page }}">Контакты</a>
                </li>
            </ul>

            <div class="mx-auto mt-10 text-xl">
                <a class="" href="tel:+79118101218">+ 7 (911) 810-1218</a>
            </div>

            <div class="mx-auto">
                <div id="socialMenu" class="flex mt-6 space-x-2">
                    <div class="">
                        <a href="whatsapp://send?text=Здравствуйте.&amp;phone=+79118101218&amp;abid=+79118101218" target="_blank">
                            <img src="{{ 'assets/img/icon_wa.svg'|theme }}">
                        </a>
                    </div>

                    <div class="">
                        <a href="https://www.instagram.com/dr.usungvan/" target="_blank">
                            <img src="{{ 'assets/img/icon_inst.svg'|theme }}">
                        </a>
                    </div>

                    <div class="">
                        <a href="https://vk.com/id52699" target="_blank">
                            <img src="{{ 'assets/img/icon_vk.svg'|theme }}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="swiper-container">
    <div class="swiper-wrapper">

        <div class="swiper-slide bg-first" x-data="{showConsultationForm : false}">
            <div id="main" class="w-full px-8 sm:px-16">
                <div class="container relative flex h-screen mx-auto">
                    <div class="my-auto">
                        <div class="uppercase">
                            <h1 class="xl:mb-8 mb-4 leading-snug tracking-widest lg:text-7xl md:text-6xl text-4xl">Максим <br> Усунгван</h1>
                            <p class="lg:text-2xl md:text-xl text-base">реконструктивно-пластический хирург</p>
                        </div>

                        <div id="social" class="flex xl:flex-col mt-16 space-x-3 xl:space-x-0 xl:space-y-3 xl:absolute xl:bottom-0 xl:right-0 xl:mb-32">
                            <div class="">
                                <a href="whatsapp://send?text=Здравствуйте.&amp;phone=+79118101218&amp;abid=+79118101218" target="_blank">
                                    <img src="{{ 'assets/img/icon_wa.svg'|theme }}">
                                </a>
                            </div>

                            <div class="">
                                <a href="https://www.instagram.com/dr.usungvan/" target="_blank">
                                    <img src="{{ 'assets/img/icon_inst.svg'|theme }}">
                                </a>
                            </div>

                            <div class="">
                                <a href="https://vk.com/id52699" target="_blank">
                                    <img src="{{ 'assets/img/icon_vk.svg'|theme }}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="absolute bottom-0 right-0 w-full lg:w-auto">
                    <div @click="showConsultationForm = true"
                        class="cursor-pointer apply-button flex px-12 lg:px-64 py-10 uppercase lg:ml-auto"
                        data-content="Записаться на прием"
                        data-hovercontent="Записаться на прием">
                    </div>
                </div>
            </div>

            <div x-show="showConsultationForm"
                 x-transition:enter="transition ease-linear duration-500"
                 x-transition:enter-start="opacity-0"
                 x-transition:enter-end="opacity-100"
                 x-transition:leave="transition ease-linear duration-500"
                 x-transition:leave-start="opacity-100"
                 x-transition:leave-end="opacity-0"
                 x-on:keydown.escape.window="showConsultationForm = false"
                 class="fixed z-max inset-0 flex items-end justify-end bg-popup"
                 x-cloak
                >
                <div x-show="showConsultationForm"
                     x-transition:enter="transition ease-linear duration-500"
                     x-transition:enter-start="transform translate-x-full"
                     x-transition:enter-end="transform translate-x-0"
                     x-transition:leave="transition ease-linear duration-500"
                     x-transition:leave-start="transform translate-x-0"
                     x-transition:leave-end="transform translate-x-full"
                     class="relative w-full lg:w-2/5 bg-white h-full flex flex-col items-center justify-center pt-10" 
                     @click.away="showConsultationForm = false">
                    <p class="lg:text-2xl text-black mb-9">Консультация с доктором</p>

                    {% component 'contactForm' %}

                    <p class="text-gray-500 text-xs text-center w-4/6">
                        Нажимая «Отправить» вы принимаете
                        <br>
                        <a href="#" class="underline hover:no-underline text-indigo-400 hover:text-gray-500">условия обработки данных</a>
                    </p>

                    <div class="cursor-pointer" @click="showConsultationForm = false">
                        <p class="fixed top-5 right-5 transform rotate-45 text-black text-4xl">+</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-slide bg-second">
            <div id="second" class="w-full px-8 sm:px-16">
                <div class="container flex h-screen mx-auto">
                    <div class="mt-24 lg:my-auto">
                        <div class="mt-10">
                            <h2 class="mb-6 xl:mb-8 text-base lg:text-4xl leading-tight tracking-widest uppercase">Здоровье пациента — <br> превыше всего!</h2>

                            <p class="w-full lg:w-1/2 text-xs lg:text-base mb-4 xl:mb-12 leading-loose tracking-wide text-gray-100">
                                Я врач во втором поколении, реконструктивно-пластический хирург, онколог. На сайте вы найдете полное описание специфики моей работы, сможете выбрать интересующую вас область, задать вопрос и записаться на прием.
                            </p>

                            <div class="flex md:justify-between md:w-1/2">
                                <div class="w-1/2 mt-auto about-button pr-24 md:pr-0">
                                    <div class="flex">
                                        <a href="{{ 'about'|page }}">
                                            <svg class="w-10 h-10 lg:w-20 lg:h-20" fill="none"  width="72" height="72" viewBox="0 0 72 72"  xmlns="http://www.w3.org/2000/svg">
                                                <circle id="circle" cx="36" cy="36" r="35.25" stroke="white" stroke-width="1.5"/>
                                                <path id="arrow" d="M41.0646 30.75C41.7926 33.2608 43.5484 34.9924 46.4176 36.0314C43.5912 37.0271 41.7926 38.8019 41.0646 41.3128" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="bevel"/>
                                                <path id="line" d="M46.2581 36H24" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                                            </svg>
                                        </a>

                                        <a id="details" href="{{ 'about'|page }}" class="my-auto mr-8 ml-4 xl:ml-8 xl:whitespace-nowrap">
                                            <p class="text-xs xl:text-sm leading-none tracking-normal text-gray-400">Подробнее о докторе<p>
                                        </a>
                                    </div>
                                </div>

                                <!-- <div class="w-1/2 signature">
                                    <img src="{{ 'assets/img/signature.png'|theme }}" alt="">
                                </div> -->
                            </div>
                        </div>

                    </div>

                    <div id="doctor" class="absolute bottom-0 ">
                        <img class="" src="{{ 'assets/img/doctor.png'|theme }}" alt="">
                    </div>

                </div>
            </div>
        </div>

        <div class="bg-white swiper-slide">
            <div id="feedback" class="w-full h-full px-8 xl:px-16">
                <div class="container lg:relative flex 2xl:h-full mx-auto">
                    <div class="w-full mt-36 xl:mt-40 mb-20 2xl:my-auto">
                        <h3 class="hidden lg:block mb-16 text-3xl leading-tight text-gray-800">Отзывы клиентов</h3>

                        <div class="flex flex-col-reverse lg:flex-row items-center lg:items-start lg:mr-56"
                             x-data="feedb()"
                            >
                            <div class="lg:relative lg:flex-row lg:h-96 lg:w-7/12">
                                {% for post in feedbacks %}
                                <div class="max-h-48 lg:max-h-80 overflow-y-auto">
                                    <p  x-show.transition.in.duration.500ms="activeSlide === {{ loop.index }}"
                                        x-cloak
                                        class="feedback-slide-content pt-10 lg:pt-0 lg:mb-20 text-center lg:text-left text-xs lg:text-sm leading-5 lg:leading-8 text-gray-800"
                                        >
                                        {{ post.content }}
                                    </p>
                                </div>


                                <!-- <button
                                    x-show:transition.in.duration.500ms="activeSlide === {{ loop.index }}"
                                    class="hidden lg:block text-gray-400 underline hover:text-indigo-500 text-sm focus:outline-none"
                                    @click="showModal = true"
                                    >
                                    Полный отзыв
                                </button> -->


                                <div x-show.transition.in.duration.500ms="activeSlide === {{ loop.index }}" class="pt-4 lg:pt-0 lg:absolute lg:bottom-0 flex flex-col lg:flex-row lg:justify-between w-full">
                                    <div class="my-auto text-center lg:text-left text-xs lg:text-sm text-gray-400">
                                        {{ post.title }}
                                    </div>
                                </div>
                                {% endfor %}

                                <div class="flex absolute right-0 bottom-16 lg:bottom-0 w-full lg:w-auto">
                                    <div class="my-auto ml-auto mr-10 lg:mr-8 lg:ml-0">
                                        <button type="button" class="focus:outline-none" @click="activeSlide = activeSlide === 1 ? {{ feedbacks|length }} : activeSlide - 1">
                                            <svg width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0.309943 11.6037L10.4856 21.7512C10.819 22.0835 11.3588 22.0829 11.6916 21.7495C12.0242 21.4161 12.0233 20.876 11.6899 20.5435L2.11991 11L11.6902 1.45647C12.0236 1.12389 12.0245 0.584164 11.6919 0.250727C11.5251 0.08358 11.3065 3.75925e-06 11.0879 3.74014e-06C10.8699 3.72108e-06 10.6522 0.0830211 10.4856 0.249008L0.309943 10.3963C0.149369 10.556 0.0592633 10.7734 0.0592632 11C0.0592632 11.2265 0.149628 11.4437 0.309943 11.6037Z" fill="#ACACAC"/>
                                            </svg>
                                        </button>

                                    </div>

                                    {% for post in feedbacks %}
                                    <div x-show="activeSlide === {{ loop.index }}" class="w-20 text-center text-3xl pagination">
                                        <span class="text-gray-800">{{ loop.index }}</span>
                                        <sup class="text-gray-400">/</sup>
                                        <sup class="text-gray-400">{{ loop.length }}</sup>
                                    </div>
                                    {% endfor %}


                                    <div class="my-auto mr-auto ml-10 lg:ml-8 lg:mr-0">
                                        <button type="button" class="focus:outline-none" @click="activeSlide = activeSlide === {{ feedbacks|length }} ? 1 : activeSlide + 1">
                                            <svg width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11.6901 10.3963L1.51441 0.248783C1.18102 -0.0834926 0.641247 -0.082934 0.308412 0.250502C-0.0241646 0.583895 -0.0233052 1.12397 0.310131 1.4565L9.88009 11L0.309787 20.5435C-0.0236061 20.8761 -0.0244655 21.4158 0.308068 21.7493C0.474915 21.9164 0.693497 22 0.912078 22C1.1301 22 1.34782 21.917 1.51437 21.751L11.6901 11.6037C11.8506 11.444 11.9407 11.2266 11.9407 11C11.9407 10.7735 11.8504 10.5563 11.6901 10.3963Z" fill="#ACACAC"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>



                            {% for post in feedbacks %}
                            <div
                                x-show.transition.in.opacity.duration.500ms="activeSlide === {{ loop.index }}"
                                x-cloak
                                class="lg:absolute right-20 lg:w-5/12 lg:h-96 w-40 h-40 overflow-hidden align-middle">
                                {% for image in post.featured_images|slice(0, 1) %}
                                <img src="{{ image.path }}" class="feedback-photo" alt="">
                                {% endfor %}
                            </div>
                            {% endfor %}

                            <!-- {% for post in feedbacks %}
                            <div
                                x-show.transition.opacity.duration.1000ms="showModal && activeSlide === {{ loop.index }}"
                                x-on:keydown.escape.window="showModal = false"
                                x-cloak
                                class="overflow-y-auto bg-gray-500 fixed z-50 inset-0 flex items-center justify-center"
                                >
                                <div>
                                    <div class="flex z-50 relative bg-white max-w-3xl" @click.away="showModal = false">
                                        <div class="w-1/2 p-6 pr-10 my-auto">
                                            {% for image in post.featured_images|slice(0, 1) %}
                                            <img src="{{ image.path }}" class="w-80 h-80 object-cover overflow-hidden">
                                            {% endfor %}
                                        </div>

                                        <div class="w-1/2 pr-6 py-10">
                                            <div class="pb-4 pb-8">
                                                <p class="text-sm text-gray-400">{{ post.title }}</p>
                                            </div>
                                            <div class="overflow-y-auto max-h-96">
                                                <p class="text-xs lg:text-sm leading-4 lg:leading-6 text-gray-900">{{ post.content }}</p>
                                            </div>
                                        </div>

                                        <div>
                                            <button class="absolute top-4 right-4 focus:outline-none" @click="showModal = false">
                                                <img src="{{ 'assets/img/closeModal.svg'|theme }}">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %} -->

                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="bg-white swiper-slide">
            <div id="info" class="w-full h-full apx-8 lg:px-16 bg-colors">
                <div class="bg-colors flex flex-col lg:flex-row lg:container mx-auto ">

                    <div class="pt-32 px-7 lg:px-0 lg:pr-16 news bg-news h-screen lg:h-auto">
                        <div class="relative space-y-4 max-w-lg sm:max-w-3xl lg:max-w-full mx-auto xl:mx-0">
                            <a href="{{ 'news'|page }}">
                                <h3 class="text-gray-900 text-xl leading-8 lg:text-3xl lg:leading-10">Новости</h3>
                            </a>
                            {% for post in news %}
                                <div class="space-y-4 lg:space-y-7 border-b border-gray-300 pb-6 card transition transition-all duration-300 easy-in transform hover:-translate-y-1.5">
                                    <a href="{{ post.url }}">
                                        <h4 class="lg:pb-1 text-base leading-tight lg:text-lg lg:leading-snug text-gray-900">
                                            {{ post.title }}
                                        </h4>
                                    </a>
                                    <p class="text-xs text-gray-700 line-clamp-three">
                                        {{ post.summary }}
                                    </p>
                                    <div class="flex justify-between mt-4 mb-2 lg:mb-4">
                                        <div class="flex my-auto">
                                            <img class="mr-2" width="11" height="11" src="{{ 'assets/img/clock.svg'|theme }}" alt="">
                                            <span class="text-gray-800 date text-xxs lg:text-xs">{{ post.published_at|date('d.m.Y') }}</span>
                                        </div>
                                        <a href="{{ post.url }}" class="flex flex-row">
                                            <span class="my-auto text-gray-800 text-xxs lg:text-xs pr-3 underline hover:no-underline">Читать дальше</span>
                                            <img class="my-auto ml-2" width="5" height="7" src="{{ 'assets/img/small_arrow_r.svg'|theme }}" alt="">
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                            <a class="flex items-center max-w-max space-x-4 text-xs underline hover:no-underline text-gray-700 eye-button pb-12" href="{{ 'news'|page }}">
                                <div class="w-10 h-10 rounded-full bg-gray-700 flex justify-center items-center text-white fill-current transition transition-all duration-500">
                                    <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M19.8729 9.61096C19.6942 9.36655 15.4371 3.62634 9.9999 3.62634C4.56274 3.62634 0.305391 9.36655 0.126914 9.61073C-0.0423048 9.84261 -0.0423048 10.1571 0.126914 10.389C0.305391 10.6334 4.56274 16.3736 9.9999 16.3736C15.4371 16.3736 19.6942 10.6333 19.8729 10.3892C20.0423 10.1573 20.0423 9.8426 19.8729 9.61096ZM9.9999 15.0549C5.99486 15.0549 2.52606 11.245 1.49922 9.99952C2.52473 8.75292 5.98626 4.94502 9.9999 4.94502C14.0048 4.94502 17.4733 8.75424 18.5006 10.0004C17.4751 11.247 14.0135 15.0549 9.9999 15.0549Z"/>
                                        <path d="M10 6.04382C7.81867 6.04382 6.04395 7.81855 6.04395 9.99989C6.04395 12.1812 7.81867 13.9559 10 13.9559C12.1813 13.9559 13.9561 12.1812 13.9561 9.99989C13.9561 7.81855 12.1813 6.04382 10 6.04382ZM10 12.6372C8.54571 12.6372 7.36266 11.4541 7.36266 9.99989C7.36266 8.54562 8.54574 7.36254 10 7.36254C11.4543 7.36254 12.6373 8.54562 12.6373 9.99989C12.6373 11.4541 11.4543 12.6372 10 12.6372Z"/>
                                    </svg>
                                </div>
                                <p>Смотреть все</p>
                            </a>
                        </div>
                    </div>

                    <div class="hidden lg:block relative articles bg-articles pt-12 lg:pt-32 lg:pl-16 xl:pr-40 space-y-4 2xl:space-y-6">
                        <a href="{{ 'articles'|page }}">
                            <h3 class="text-gray-900 text-xl leading-8 lg:text-3xl lg:leading-10">Статьи</h3>
                        </a>
                        {% for post in articles %}
                        <a href="{{ post.url }}" class="lg:pr-4 lg:flex lg:flex-row card transition transition-all duration-300 easy-in transform hover:-translate-y-1.5">
                            <div class="lg:w-40 lg:pr-4 lg:min-w-max pb-6 lg:pb-0">
                                {% for image in post.featured_images|slice(0, 1) %}
                                <img src="{{ image.path }}" class="object-contain mx-auto lg:mx-0 w-auto max-w-96 lg:w-48 2xl:w-44">
                                {% endfor %}
                            </div>
                            <div class="space-y-3 lg:space-y-5">
                                <h4 class="text-base text-gray-900 leading-tight lg:leading-snug underline hover:no-underline">
                                    {{ post.title }}
                                </h4>
                                <p class="text-xs text-gray-700 line-clamp-three">
                                    {{ post.summary }}
                                </p>
                            </div>
                        </a>
                        {% endfor %}
                        <a class="flex items-center max-w-max space-x-4 text-xs underline hover:no-underline text-gray-700 eye-button pb-12" href="{{ 'articles'|page }}">
                            <div class="w-10 h-10 rounded-full bg-gray-700 flex justify-center items-center text-white fill-current transition transition-all duration-500 2xl:-mt-2">
                                <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.8729 9.61096C19.6942 9.36655 15.4371 3.62634 9.9999 3.62634C4.56274 3.62634 0.305391 9.36655 0.126914 9.61073C-0.0423048 9.84261 -0.0423048 10.1571 0.126914 10.389C0.305391 10.6334 4.56274 16.3736 9.9999 16.3736C15.4371 16.3736 19.6942 10.6333 19.8729 10.3892C20.0423 10.1573 20.0423 9.8426 19.8729 9.61096ZM9.9999 15.0549C5.99486 15.0549 2.52606 11.245 1.49922 9.99952C2.52473 8.75292 5.98626 4.94502 9.9999 4.94502C14.0048 4.94502 17.4733 8.75424 18.5006 10.0004C17.4751 11.247 14.0135 15.0549 9.9999 15.0549Z"/>
                                    <path d="M10 6.04382C7.81867 6.04382 6.04395 7.81855 6.04395 9.99989C6.04395 12.1812 7.81867 13.9559 10 13.9559C12.1813 13.9559 13.9561 12.1812 13.9561 9.99989C13.9561 7.81855 12.1813 6.04382 10 6.04382ZM10 12.6372C8.54571 12.6372 7.36266 11.4541 7.36266 9.99989C7.36266 8.54562 8.54574 7.36254 10 7.36254C11.4543 7.36254 12.6373 8.54562 12.6373 9.99989C12.6373 11.4541 11.4543 12.6372 10 12.6372Z"/>
                                </svg>
                            </div>

                            <p>Смотреть все</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-white swiper-slide">
            <div id="contact" class="w-full h-full xl:px-16 contact">
                <div class="container flex mx-auto h-full">
                    <div class="w-full mt-32 xl:mt-40">
                        <h3 class="px-8 xl:px-0 mb-4 xl:mb-16 text-xl lg:text-3xl leading-tight text-gray-800">Контакты</h3>

                        <div class="flex flex-col md:flex-row h-full xl:mr-56 md:space-x-16" x-data="{ tab: 'moscow' }">
                            <div class="w-full h-1/4 mb-4 md:h-full md:mb-0 md:w-1/2">
                                <div
                                    x-show.transition.in.duration.1200ms="tab === 'moscow'"
                                    id="map_moscow"
                                    class="w-full h-full md:h-4/5">
                                </div>

                                <div
                                    x-show.transition.in.duration.1200ms="tab === 'spb'"
                                    id="map_spb"
                                    class="w-full h-full md:h-4/5">
                                </div>
                            </div>

                            <div class="px-8 md:px-0 md:w-1/2 space-y-4  lg:space-y-8">
                                <div class="flex space-x-6 text-sm md:text-xl tabs">
                                    <a
                                        class="text-gray-400"
                                        :class="{'text-gray-800 border-b border-black': tab === 'moscow', 'border-b border-transparent hover:border-gray-400': tab === 'spb'}"
                                        @click="tab = 'moscow'"
                                        href="#moscow">
                                        Москва
                                    </a>
                                    <a
                                        class="text-gray-400"
                                        :class="{'text-gray-800 border-b border-black': tab === 'spb', 'border-b border-transparent hover:border-gray-400': tab === 'moscow'}"
                                        @click="tab = 'spb'"
                                        href="#spb">
                                        Санкт-Петербург
                                    </a>
                                </div>

                                <div>
                                    <div
                                        x-show.transition.in.duration.1000ms="tab === 'moscow'"
                                        class="flex flex-col space-y-4 md:space-y-8"
                                        >
                                        <div class="md:max-w-md">
                                            <p class="mb-2 text-xs text-gray-400">Адрес</p>
                                            <p class="text-gray-800 text-sm md:text-base">«ЦЕНТР ПЛАСТИЧЕСКОЙ ХИРУРГИИ» <br>ул. Рогова 22, корпус 3, метро Щукинская</p>
                                        </div>
                                        <div class="md:max-w-md">
                                            <p class="mb-2 text-xs text-gray-400">Запись на консультации</p>
                                            <p class="text-gray-800 text-sm md:text-base w-56 md:w-auto"><a href="tel:+79315410591" title="Позвонить">+7 (931) 541-05-91</a>  (Менеджер Виктория)</p>
                                        </div>
                                        <div class="md:max-w-md">
                                            <p class="mb-2 text-xs text-gray-400">Запись на операции</p>
                                            <p class="text-gray-800 text-sm md:text-base w-48 md:w-auto">
                                                <a href="tel:+79036749990" title="Позвонить">+7 (903)-674-99-90</a> ,
                                                <a href="tel:+79118101218" title="Позвонить">+7 (911) 810-12-18</a></p>
                                        </div>
                                        <p class="hidden sm:block md:max-w-md text-xxs md:text-xs text-gray-400">
                                            Вы можете связаться со мной напрямую: <br>+7-911-810-12-18 (What’s Up, Viber - онлайн консультации,фото)
                                        </p>
                                    </div>
                                </div>

                                <div>
                                    <div
                                        x-show.transition.in.duration.1000ms="tab === 'spb'"
                                        class="flex flex-col space-y-8"
                                        >
                                        <div class="max-w-md">
                                            <p class="mb-2 text-xs text-gray-400">Адрес</p>
                                            <p class="text-gray-800 text-sm md:text-base">Центр пластической хирургии «PARADA» <br>Проспект Испытателей 2,корпус 2, метро Пионерская</p>
                                        </div>
                                        <div class="max-w-md">
                                            <p class="mb-2 text-xs text-gray-400">Запись на консультации и операции</p>
                                            <p class="text-gray-800 text-sm md:text-base w-56 md:w-auto"><a href="tel:+79315410591" title="Позвонить">+7 (931) 541-05-91</a>  (Менеджер Виктория )</p>
                                        </div>
                                        <p class="hidden sm:block max-w-md text-xxs md:text-xs text-gray-400">
                                            Вы можете связаться со мной напрямую: <br>+7-911-810-12-18 (What’s Up, Viber - онлайн консультации,фото)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="pagination" class="mr-16 swiper-pagination hidden xl:block"></div>
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    let menu = ['Главная', 'О докторе', 'Отзывы', 'Новости', 'Контакты'];

    let mainSwiper = new Swiper('.swiper-container', {
        // init: false,
        direction: 'vertical',
        loop: false,
        speed: 1500,
        effect: 'coverflow',
        initialSlide: 3,
        allowTouchMove: true,

        breakpoints: {

        },

        mousewheel: {
            invert: false,
        },

        pagination: {
            el: '.swiper-pagination',
            type: 'custom',
            // clickable: true,

            renderCustom: function(swiper, current, total) {
                let text = '';

                for (let i = 1; i <= total; i++) {
                    text += '<div class="flex justify-end">';
                    if (current == i) {
                        text += '<span class="my-auto mr-4 text-xs">' + menu[i - 1] + '</span>';
                        text += '<span class="swiper-pagination-line swiper-pagination-line-active"></span>';
                    } else {
                        text += '<span class="swiper-pagination-line"></span>';
                    }
                    text += '</div>';
                }
                return text;
            }
        },

        on: {
            slideChange: function () {
                let header = document.getElementById('header');
                let logo = document.getElementById('logo-img');
                let pg = document.getElementById('pagination');
                let pgLines = document.getElementsByClassName('swiper-pagination-line')

                let menu = document.getElementsByClassName('menu-link')

                if (this.realIndex >= 2) {
                    header.classList.add('text-gray-800');
                    logo.classList.add('text-gray-800');
                    pg.classList.add('text-gray-800');

                    for (let i = 0; i < pgLines.length; i++) {
                        pgLines[i].classList.add('bg-dark');
                    }

                    for (let j = 0; j < menu.length; j++) {
                        menu[j].classList.add('dark');
                    }
                } else {
                    header.classList.remove('text-gray-800');
                    logo.classList.remove('text-gray-800');
                    pg.classList.remove('text-gray-800');

                    for (let i = 0; i < pgLines.length; i++) {
                        pgLines[i].classList.remove('bg-dark');
                    }

                    for (let j = 0; j < menu.length; j++) {
                        menu[j].classList.remove('dark');
                    }
                }
            },
        },
    })

</script>

<script src="//api-maps.yandex.ru/2.0/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
<script>
    ymaps.ready(init);

    function init() {
        let mapMoscow = new ymaps.Map('map_moscow', {
            center: [55.796845, 37.455678],
            zoom: 15
        }),

        moscowMark = new ymaps.Placemark ([55.796845, 37.455678], {
            hintContent: '<span class="text-black">«ЦЕНТР ПЛАСТИЧЕСКОЙ ХИРУРГИИ» ул. Рогова 22, корпус 3, метро Щукинская</span>'
        }, {
            iconImageHref: '{{ "assets/img/mapMark.svg"|theme }}'
        })

        mapMoscow.geoObjects.add(moscowMark);
        mapMoscow.controls.add('mapTools').add('typeSelector').add('smallZoomControl').add('scaleLine');

        let mapSpb = new ymaps.Map("map_spb", {
            center: [60.001905, 30.315509],
            zoom: 15
        })

        spbMark = new ymaps.Placemark ([60.001905, 30.315509], {
            hintContent: '<span class="text-black">Центр пластической хирургии «PARADA» <br>Проспект Испытателей 2,корпус 2, метро Пионерская</span>'
        }, {
            iconImageHref: '{{ "assets/img/mapMark.svg"|theme }}'
        })

        mapSpb.geoObjects.add(spbMark);
        mapSpb.controls.add('mapTools').add('typeSelector').add('smallZoomControl').add('scaleLine');
    }
</script>

<script>
    function feedb() {
        return {
            activeSlide: 1,
            showModal: false
        }
    }
</script>