title = "Фотогалерея"
url = "/photo/:page?"
layout = "default"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "galleries"
postsPerPage = 4
noPostsMessage = "Записей не найдено"
sortOrder = "published_at desc"
categoryPage = "about"
postPage = "gallery"

[galleriesList]
galleryPage = "gallery"
categoryPage = "about"
noGalleriesMessage = "Нет опубликованных галерей"
==
{% set galleries = blogPosts.posts %}

<div class="container mx-auto pt-32 lg:pt-36 px-7 overflow-hidden">
    <hr class="hidden lg:block">

    <div class="tracking-normal">
        <p class="flex space-x-4 text-xs leading-7 lg:text-sm lg:leading-8 my-8">
            <a href="{{ 'home'|page }}" class="text-gray-500 hover:underline">Главная</a>
            <svg class="my-auto" width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3536 4.35355C14.5488 4.15829 14.5488 3.84171 14.3536 3.64645L11.1716 0.464466C10.9763 0.269204 10.6597 0.269204 10.4645 0.464466C10.2692 0.659728 10.2692 0.976311 10.4645 1.17157L13.2929 4L10.4645 6.82843C10.2692 7.02369 10.2692 7.34027 10.4645 7.53553C10.6597 7.7308 10.9763 7.7308 11.1716 7.53553L14.3536 4.35355ZM0 4.5H14V3.5H0V4.5Z" fill="#C4C4C4"/>
            </svg>
            <span class="text-gray-800">Фото</span>
        </p>
    </div>

    <div class="pb-8">
        <h1 class="text-xl leading-8 lg:text-3xl lg:leading-10">Фотогалерея</h1>
    </div>

    {% component 'galleriesList' %}
</div>



{% partial 'news_and_articles' %}

<script>
    function alboms() {
        return {
            alboms: [
                {link: 'albom.php', img: "{{ 'assets/img/feedback02.jpg'|theme }}", description: 'Фото из инстаграмм'},
                {link: 'albom.php', img: "{{ 'assets/img/feedback01.jpeg'|theme }}", description: 'Фото из инстаграмм'},
                {link: 'albom.php', img: "{{ 'assets/img/feedback03.jpeg'|theme }}", description: 'Фото из инстаграмм'},
                {link: 'albom.php', img: "{{ 'assets/img/about_pic_1.jpg'|theme }}", description: 'До и после операции'},
            ]
        }
    }
</script>