title = "Новости"
url = "/news/:page?/:slug"
layout = "default"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "about"
==
{% set post = blogPost.post %}

<div class="container mx-auto px-7 pt-32 lg:pt-36 pb-16">
    <hr class="hidden lg:block">

    <div class="tracking-normal">
        <p class="flex space-x-4 text-xs leading-7 lg:text-sm lg:leading-8 my-8">
            <a href="{{ 'home'|page }}" class="text-gray-500 hover:underline">Главная</a>
            <svg class="my-auto" width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3536 4.35355C14.5488 4.15829 14.5488 3.84171 14.3536 3.64645L11.1716 0.464466C10.9763 0.269204 10.6597 0.269204 10.4645 0.464466C10.2692 0.659728 10.2692 0.976311 10.4645 1.17157L13.2929 4L10.4645 6.82843C10.2692 7.02369 10.2692 7.34027 10.4645 7.53553C10.6597 7.7308 10.9763 7.7308 11.1716 7.53553L14.3536 4.35355ZM0 4.5H14V3.5H0V4.5Z" fill="#C4C4C4"/>
            </svg>
            <span class="text-gray-800">Новости</span>
        </p>
    </div>

    <div class="flex flex-col lg:flex-row lg:pt-10 lg:pr-28">
        <div class="lg:pr-16 pb-8 lg:pb-0">
            <div class="flex flex-row space-x-4 hover:underline">
                <hr class="border-0.5 border-black w-20 -ml-8 lg:-ml-20 my-auto">
                <a href="{{ 'news'|page }}" class="text-sm whitespace-nowrap">Вернуться назад</a>
            </div>
        </div>

        <div class="w-5/6">
            <p class="text-lg lg:text-2xl pb-6 lg:pb-8">{{ post.published_at|date('d.m.Y') }}</p>

            <h1 class="text-xl lg:text-4xl pb-8 lg:pb-12">{{ post.title }}</h1>
                
            <p class="text-sm">{{ post.content_html | raw }}</p>
        </div>
    </div>

</div>