@font-face {
    font-family: 'Stolzl Light';
    src: url('../fonts/Stolzl/Stolzl-Light.eot');
    src: local('Stolzl Light'), local('Stolzl-Light'),
        url('../fonts/Stolzl/Stolzl-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Stolzl/Stolzl-Light.woff2') format('woff2'),
        url('../fonts/Stolzl/Stolzl-Light.woff') format('woff'),
        url('../fonts/Stolzl/Stolzl-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}