@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('../fonts/RFDewi/RFDewiExpanded-Regular.eot');
    src: local('RF Dewi Expanded Regular'), local('RFDewiExpanded-Regular'),
        url('../fonts/RFDewi/RFDewiExpanded-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RFDewi/RFDewiExpanded-Regular.woff2') format('woff2'),
        url('../fonts/RFDewi/RFDewiExpanded-Regular.woff') format('woff'),
        url('../fonts/RFDewi/RFDewiExpanded-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}