@import 'font-stolzl.css';
@import 'font-rfdewi.css';

html, body {
    height: 100%;
    position: relative;    
}
 
body {                    
    font-family: 'Stolzl Light';
    letter-spacing: 0.07em;    
}

h1, h2, h3 {
    font-family: 'RF Dewi Expanded';
}

.tabs, .pagination {
    font-family: 'RF Dewi Expanded';
}
      
.main-menu .menu-link:after {    
    display: block;
    position: absolute;
    content: "";
    left: 50%;
    bottom: 0;
    height: 1px;
    width: 0;
    background: none repeat scroll 0 0 #FFFFFF;    
    transition: width 0.4s ease 0s, left 0.4s ease 0s;
} 

.menu-link.dark:after {
    background: #19191D !important;
}

.main-menu .menu-link:hover:after { 
    width: 96%;
    left: 2%;
}  

.fill-white {
    fill: white;
}

.apply-button {
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.apply-button:after,
.apply-button:before {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    -o-transition: transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    white-space: nowrap;
}

.apply-button:before {
    content: attr(data-content);
    position: absolute;
    background-color: #3F3D8F;
    color: #fff;
}

.apply-button:after {
    content: attr(data-hovercontent);
    position: absolute;
    background-color: #121b23;
    color: #fff;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}

.apply-button:hover:before {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

.apply-button:hover:after {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

#doctor {
    left: 83%;
    width: fit-content;
    transform: translate(-80%);
}

#doctor img {
    width: 85%;
}

@media only screen and (max-width: 1024px) {
    #doctor {
        left: 50%;     
        transform: translate(-25%);
    }
    
    #doctor img {
        width: 58%;
    }
}

@media only screen and (min-width:1025px) and (max-width: 1280px) {
    #doctor {
        left: 100%;     
        /* transform: translate(-25%); */
    }
}

.about-button #circle {
    transition: all 0.4s ease;
    transform-origin: center;
}

.about-button:hover svg {
    fill:white;
}

.about-button:hover #circle {
    stroke:#3F3D8F;
    transform: scale(.75);
}

.about-button:hover #arrow {
    stroke:#3F3D8F;
    color: #3F3D8F;
}

.about-button:hover #line {
    stroke:#3F3D8F;
}

.about-button #details {
    transition: all 0.4s ease;
}

.about-button:hover #details {
    transform: translateX(-12px);
}

.about-button-bw #circle {
    transition: all 0.4s ease;
    transform-origin: center;
}


.about-button-bw:hover #arrow,
.about-button-bw:hover #line {
    stroke:white;
}

.about-button-bw:hover #circle {
    transform: scale(.75);
    fill: black;
}

.about-button-bw #details {
    transition: all 0.4s ease;
}

.about-button-bw:hover #details {
    transform: translateX(-12px);
}

.feedback-photo {
    object-fit: cover;
    height: 400px;
    width: 400px;
}

.news-title:hover ~ div a span {
    text-decoration: none;
}

@media (min-width: 1024px) {
    /* .article:hover img {
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in;
        transform: scale(1.25);
    } */
} 

@media only screen and (max-width: 1024px) {
    .feedback-photo {
        object-fit: cover;
        height: 150px;
        width: 150px;
    }
}

.bg-first {
    background-image: url(../img/main_bg.jpg);                         
}

.bg-second {
    background-color:#3F3D8F;
}

.bg-dark {
    background-color: #19191D !important;
}

@media only screen and (min-width: 1024px) {
    .bg-colors {
        background: linear-gradient(to right, #F7F7F7 0%, #F7F7F7 38%, #F2F2F2 38%, #F2F2F2 100%);
    } 
}

@media only screen and (max-width: 1024px) {
    .bg-colors {
        background: transparent;
    }

    .bg-news {
        background: #F7F7F7;
    }

    .bg-articles {
        width: 100%;
        background: #F2F2F2;
    }
}

@media only screen and (min-width: 1024px) {
    .news {
        width:38%;
    }
}

@media only screen and (min-width: 1024px) {
    .articles {
        width:62%;
    }  
}

@media only screen and (max-width: 1024px) {
    .carousel-cell {
        width: 200px;
        height: 180px;
        margin-right: 10px;
    }
    
    .flickity-page-dots {
        transform: translateY(-260px);
    }
    
}

.date {
    margin-top: 2px;
} 

.text-xxs {
    font-size: 10px;
} 

/* Swiper Slider */
.swiper-container {
    width: 100%;
    height: 100%;
    margin: 0 auto 0 auto;            
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-container-vertical>.swiper-pagination-custom {            
    top: 50%;            
    right: 0;                        
    left: auto !important;
    bottom: auto !important;
    width: 250px;
    transform: translate3d(0px,-50%,0);
}

.swiper-pagination-line {
    position: relative;
    display: block;
    width: 40px;
    height: 1px;
    margin: 12px 0;
    opacity: 1;
    text-decoration: none;
    pointer-events: auto;
    background-color: #fff;
}

.swiper-pagination-line-active {    
    width: 80px;         
}

/* Yandex Map */
.ymaps-layers-pane {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.line-clamp-three {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.eye-button:hover div {
    background-color: white;
    color: rgba(55, 65, 81);
}

.card:hover * h4,
.card:hover h3  {
    color: rgba(107, 114, 128);
    text-decoration: none;
}

.card:hover * span {
    text-decoration: none;
}

.certificate {
    object-fit: contain;
    max-height: 400px;
    /* max-width: 400px; */
}

.card-shadow {
    box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.05);
}

input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}

.z-max {
    z-index: 999999;
}

.bg-popup {
    background-color: rgba(33,32,72, .58);
}