<div class="grid grid-cols-1 md:grid-cols-2 gap-4 lg:gap-10 auto-cols-min auto-rows-min  pb-10">
    {% for gallery in galleries %}
    <div class="relative overflow-hidden w-full h-auto max-h-56 lg:max-h-72 xl:max-h-96 mx-auto my-auto">
        <a href="{{ gallery.url }}" class="flex justify-center items-center">
            {% for image in gallery.images|slice(0, 1) %}
            <img class="object-cover w-full" src="{{ image.path }}">
            {% endfor %}
            <p class="absolute bottom-3 lg:bottom-10 left-6 lg:left-11 text-white">{{ gallery.name }}</p>
        </a>
    </div>
    {% endfor %}
</div>